<template>
  <div class="apps-list">
    <ul class="tabs">
      <li class="item">
        <router-link :to="'/gallery/catalogs/' + catId + '/actions'" :class="{active: type === 'actions'}">
          {{$t('global.action')}}
        </router-link>
      </li>
      <li class="item">
        <router-link :to="'/gallery/catalogs/' + catId + '/combos'" :class="{active: type === 'combos'}">
          {{$t('global.combo')}}
        </router-link>
      </li>
    </ul>
    <empty style="margin-top: 10rem;" v-show="!sources.length && !loading">
      <p>当前类目暂时没有相关推荐</p>
    </empty>
    <loader style="margin-top: 10rem;" v-show="loading">
      <p>正在为你加载资源...</p>
    </loader>
    <ul class="apps" v-show="!loading">
      <li v-for="source in sources">
        <item :source="source" :type="type" from="gallery-fav-btn"></item>
      </li>
    </ul>
  </div>
</template>
<script>
  import Gallery from 'api/gallery'
  import Empty from 'components/Empty'
  import Loader from 'components/Loader'
  import Item from 'components/Source'

  export default {
    name: 'gallery-catalogs',
    components: { Empty, Loader, Item },
    data () {
      return {
        type: 'actions',
        catId: null,
        loading: false,
        sources: []
      }
    },
    beforeMount () {
      this.type = this.$route.params.type
      this.catId = this.$route.params.cat_id
      this.fetch()
    },
    watch: {
      $route (route) {
        this.type = route.params.type
        this.catId = route.params.cat_id
        this.fetch()
      }
    },
    methods: {
      fetch () {
        const vm = this
        this.loading = true
        Gallery.getByCatId(this.type, this.catId).then(({ data: { data: sources } }) => {
          vm.sources = sources
          vm.loading = false
        })
      },
      changeType (type) {
        this.type = type
        this.fetch()
      }
    }
  }
</script>
