<template>
  <div class="gallery">
    <head-nav class="nav-dark"></head-nav>
    <div class="gallery-view">
      <div class="hero">
        <div class="wrap">
          <img src="https://omwqcseka.qnssl.com/cdn/images/shop-logo.png" class="logo">
          <div class="search-wrap mt30">
            <form v-on:submit.prevent="search">
              <input type="text" class="input" placeholder="搜索关键字" v-model="keyword">
              <button class="btn btn-link"><i class="iconfont">&#xe600;</i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="main-grid pure-g">
        <div class="pure-u-1-4 grid-left">
          <div class="sideNav mb30">
            <p class="title">官方推荐</p>
            <ul class="list">
              <li class="item">
                <router-link :class="{active: 'hot' == $route.params.tag_slug}" to="/gallery/tags/hot/actions">热门资源

                </router-link>
              </li>
              <li class="item">
                <router-link :class="{active: 'new' == $route.params.tag_slug}" to="/gallery/tags/new/actions">最新上架

                </router-link>
              </li>
              <!--<li class="item">-->
              <!--<router-link :class="{active: 'popular' == $route.params.tag_slug}" to="/gallery/tags/popular">最近流行-->
              <!--</router-link>-->
              <!--</li>-->
            </ul>
          </div>
          <div class="sideNav">
            <p class="title">分类筛选</p>
            <ul class="list catalogs">
              <li class="item" v-for="catalog in catalogs">
                <router-link :class="{active: catalog.id == $route.params.cat_id}"
                             :to="'/gallery/catalogs/' + catalog.id + '/actions'">{{catalog.title}}

                </router-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="pure-u-3-4 grid-right">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import HeadNav from 'components/Nav'
  import Catalogs from 'api/gallery/catalogs'

  export default {
    name: 'gallery',
    components: { HeadNav },
    data () {
      return {
        catalogs: [],
        roles: [],
        keyword: ''
      }
    },
    beforeMount () {
      const vm = this
      Catalogs.getAll().then(({ catalogs, roles }) => {
        vm.catalogs = catalogs
        vm.roles = roles
      })
      this.$trackr.track('page-view', {
        name: 'gallery'
      })
    },
    methods: {
      search () {
        this.$trackr.track('source-search', {
          from: 'gallery'
        })
        this.$router.push({
          path: '/gallery/search',
          query: {
            keyword: this.keyword
          }
        })
      }
    }
  }
</script>
<style lang="scss">
  $unit: 10px;
  $border: #DFDFDF;
  .gallery-view {
    .hero {
      padding: 5*$unit 0 5*$unit;
      background: #2E4460;
      background: -webkit-linear-gradient(left, #2E4460, #202541);
      background: -o-linear-gradient(right, #2E4460, #202541);
      background: -moz-linear-gradient(right, #2E4460, #202541);
      background: linear-gradient(to right, #2E4460, #202541);
      .wrap {
        width: 480px;
        margin: 0 auto;
      }
      .logo {
        display: block;
        width: 17.5*$unit;
        margin: 0 auto;
      }
      .input {
        border: 0 none;
      }
    }
    .main-grid {
      margin-top: 5*$unit;
    }
    .grid-left {
      border-right: 1px dotted $border;
    }
    .apps-list {
      margin: -1*$unit 2*$unit 0 0;
    }
    .tabs {
      margin-bottom: 1.5*$unit;
    }
    ul.list.catalogs {
      height: 250px;
      overflow-y: scroll;
    }
  }
</style>
