<template>
  <div class="apps-list">
    <ul class="tabs">
      <li class="item">
        <a href="" @click.prevent="changeType('actions')" :class="{active: type === 'actions'}">显示资源</a>
      </li>
      <li class="item">
        <a href="" @click.prevent="changeType('combos')" :class="{active: type === 'combos'}">显示集合</a>
      </li>
    </ul>
    <!--<empty v-show="true" style="margin-top: 10rem;">-->
    <!--<p>当前类目暂时没有相关推荐</p>-->
    <!--</empty>-->
    <loader style="margin-top: 10rem;" v-show="loading">
      <p>正在为你加载资源...</p>
    </loader>
    <ul class="apps" v-show="!loading">
      <li v-for="source in sources">
        <item :source="source" :type="type"></item>
      </li>
    </ul>
    <pagination :pagination="pagination"></pagination>
  </div>
</template>
<script>
  import Gallery from 'api/gallery'
  import Empty from 'components/Empty'
  import Loader from 'components/Loader'
  import Pagination from 'components/Pagination'
  import Item from 'components/Source'

  export default {
    name: 'gallery-catalogs',
    components: { Empty, Loader, Pagination, Item },
    data () {
      return {
        type: 'actions',
        loading: false,
        sources: [],
        pagination: {},
        params: {
          keyword: '',
          page: 1
        }
      }
    },
    beforeMount () {
      this.fetch()
      if (this.$route.query.keyword) {
        this.params.keyword = this.$route.query.keyword
      }
      this.$router.app.$on('changePage', this.changePage)
    },
    watch: {
      $route () {
        if (this.$route.query.keyword) {
          this.params.keyword = this.$route.query.keyword
        }
        this.fetch()
      }
    },
    methods: {
      fetch () {
        const vm = this
        this.loading = true
        const type = this.type
        const params = this.params
        Gallery.getAll(type, params).then(({ data: { data: sources, meta: { pagination } } }) => {
          vm.sources = sources
          vm.pagination = pagination
          vm.loading = false
        })
      },
      changeType (type) {
        this.type = type
        this.fetch()
      },
      changePage (page) {
        this.params.page = page
        this.fetch()
      }
    }
  }
</script>
