<template>
  <div class="apps-list pb20">
    <ul class="tabs">
      <li class="item">
        <router-link :to="'/gallery/tags/'+ tag +'/actions'" :class="{active: type === 'actions'}">{{$t('global.action')}}
        </router-link>
      </li>
      <li class="item">
        <router-link :to="'/gallery/tags/'+ tag +'/combos'" :class="{active: type === 'combos'}">{{$t('global.combo')}}
        </router-link>
      </li>
    </ul>
    <!--<empty v-show="true" style="margin-top: 10rem;">-->
    <!--<p>当前类目暂时没有相关推荐</p>-->
    <!--</empty>-->
    <loader style="margin-top: 10rem;" v-show="loading">
      <p>正在为你加载资源...</p>
    </loader>
    <ul class="apps" v-show="!loading && type === 'combos'">
      <li v-for="source in combos">
        <item :source="source" type="combos" from="gallery-fav-btn"></item>
      </li>
    </ul>
    <ul class="apps" v-show="!loading && type === 'actions'">
      <li v-for="source in actions">
        <item :source="source" type="actions" from="gallery-fav-btn"></item>
      </li>
    </ul>
    <a class="btn btn-full btn-link btn-primary tc" @click.prevent="loadMore"
       v-if="pagination.total_pages > pagination.current_page && !loadMoreProcess && !loading"><i class="iconfont">
      &#xe65e;</i> 加载更多</a>
    <a class="btn btn-full btn-link tc" @click.prevent="loadMore"
       v-if="pagination.total_pages > pagination.current_page && loadMoreProcess && !loading"><i
      class="iconfont loading">&#xe6a8;</i> 加载中...</a>
  </div>
</template>
<script>
  /* eslint-disable max-len */

  import Gallery from 'api/gallery'
  import Empty from 'components/Empty'
  import Loader from 'components/Loader'
  import Item from 'components/Source'

  export default {
    name: 'gallery-catalogs',
    components: { Empty, Loader, Item },
    data () {
      return {
        loading: false,
        loadMoreProcess: false,
        pagination: {},
        actions: [],
        combos: [],
        sources: [],
        params: {
          per_page: 18,
          page: 1
        }
      }
    },
    beforeMount () {
      this.type = this.$route.params.type
      this.tag = this.$route.params.tag_slug
      this.fetch()
    },
    watch: {
      $route (route) {
        this.params.page = 1
        this.type = route.params.type
        this.tag = route.params.tag_slug
        this.fetch()
      }
    },
    methods: {
      fetch () {
        const vm = this
        this.loading = true
        const params = {
          page: this.params.page,
          per_page: this.params.per_page
        }
        if (this.tag === 'hot') {
          params.tag = this.tag
        } else if (this.tag === 'new') {
          params.order_by = 'created_at'
        }
        Gallery.getAll(this.type, params).then(({ data: { data: sources, meta: { pagination } } }) => {
          vm[vm.type] = sources
          vm.pagination = pagination
          vm.loading = false
          vm.$forceUpdate()
        })
      },
      changeType (type) {
        this.type = type
        this.fetch()
      },
      loadMore () {
        this.params.page = this.params.page + 1
        const vm = this
        const type = this.type
        this.loadMoreProcess = true
        Gallery.getAll(this.type, this.params).then(({ data: { data: sources, meta: { pagination } } }) => {
          vm[type] = vm[type].concat(sources)
          vm.pagination = pagination
          vm.loadMoreProcess = false
        })
      }
    }
  }
</script>
