<template>
  <div class="combos-create-view user-action">
    <div class="main-grid">
      <ul class="breadcrumb">
        <li>
          <router-link to="/users/gallery/own">收藏</router-link>
          <i class="iconfont">&#xe6a9;</i>
        </li>
        <li>
          <router-link to="/users/gallery/own/combos">合辑</router-link>
          <i class="iconfont">&#xe6a9;</i>
        </li>
        <li class="fr tips">
          <a href="https://shimo.im/doc/6hFRCG0iOg4LYEem" target="_blank"><i class="iconfont">&#xe62c;</i> 如何创建源/合辑</a>
        </li>
      </ul>
      <div class="pure-g">
        <!-- <div class="grid-left pure-u-1-4">
          <div class="intro">
            <div class="avatar" :style="{'background-color': combo.color}">
              <i :class="combo.icon"></i>
            </div>
            <ul class="basic mt20">
              <li @click="showIconPicker = true">选择展示图标</li>
            </ul>
          </div>
        </div> -->
        <div class="pure-u-1-8"></div>
        <div class="grid-right pure-u-3-4">
          <div class="form pb50">
            <form>
              <div class="sheet">
                <div class="head">
                  <span class="title">基础设置</span>
                </div>
                <div class="pure-g row">
                  <div class="pure-u-1-2">
                    <div class="item">
                      <label for="">合辑标题</label>
                      <input type="text" class="input" :class="{error: $v.combo.title.$error}"
                             @input="$v.combo.title.$touch()" v-model="combo.title">
                    </div>
                  </div>
                  <div class="pure-u-1-2">
                    <div class="item">
                      <label for="">快捷键</label>
                      <input type="text" class="input" :class="{error: $v.combo.shortcut.$error}"
                             @input="$v.combo.shortcut.$touch()" v-model="combo.shortcut">
                    </div>
                  </div>
                </div>
                <div class="pure-g row">
                  <div class="pure-u-1-1">
                    <div class="item">
                      <label for="">合辑描述</label>
                      <input type="text" class="input" :class="{error: $v.combo.desc.$error}"
                             @input="$v.combo.desc.$touch()" v-model="combo.desc">
                    </div>
                  </div>
                </div>
                <div class="pure-g row">
                  <div class="pure-u-1-1">
                    <div class="item">
                      <label for="">默认搜索

                        <small>(默认搜索的内容，提示用户应该填写什么)</small>
                      </label>
                      <input type="text" class="input" :class="{error: $v.combo.placeholder.$error}"
                             @input="$v.combo.placeholder.$touch()" v-model="combo.placeholder">
                    </div>
                  </div>
                </div>
              </div>
              <div class="sheet">
                <div class="head">
                  <span class="title">资源列表</span>
                  <span class="status" @click="showActionPicker = true"><i class="iconfont">&#xe63c;</i> 添加资源</span>
                </div>
                <!--<button class="btn btn-full btn-new btn-lg mt20" @click.prevent="showActionPicker = true"><i-->
                <!--class="iconfont">&#xe60b;</i> 点击添加资源-->
                <!--</button>-->
                <div class="apps-list">
                  <ul class="apps">
                    <li v-for="action in selected">
                      <a class="app editable">
                        <div class="pure-g">
                          <div class="pure-u-1-3">
                            <div class="icon">
                              <i :class="action.icon" :style="'color:' + action.color"></i>
                            </div>
                          </div>
                          <div class="pure-u-2-3">
                            <div class="info" :title="action.desc">
                              <p class="name">{{action.title}}</p>
                              <p class="des">{{action.desc}}</p>
                            </div>
                          </div>
                        </div>
                        <span class="delete" @click="select(action)"><i class="iconfont">&#xe65d;</i></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="sheet mt20" v-if="combo.shared">
                <div class="head">
                  <span class="title">上架到商店</span>
                  <!--<span class="status"><i class="iconfont">&#xe60a;</i> 搜索测试</span>-->
                </div>
                <div class="pure-g row">
                  <div class="pure-u-1-2">
                    <div class="item">
                      <label for="">选择分享类目</label>
                      <div class="select-wrap">
                        <select class="select" v-model="combo.catalog_id">
                          <option :value="0">--</option>
                          <option :value="catalog.id" v-for="catalog in catalogs">{{catalog.title}}</option>
                        </select>
                        <span class="dropdown">
                        <i class="iconfont">&#xe64a;</i>
                      </span>
                      </div>
                    </div>
                  </div>
                  <div class="pure-u-1-2">
                    <div class="item">
                      <label for="">选择使用人群</label>
                      <div class="select-wrap">
                        <select class="select" v-model="combo.role_id">
                          <option :value="0">--</option>
                          <option :value="role.id" v-for="role in roles">{{role.title}}</option>
                        </select>
                        <span class="dropdown">
                        <i class="iconfont">&#xe64a;</i>
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="combo clearfix mt10">
                <div class="fl">
                  <div class="checkbox-wrap">
                    <input type="checkbox" id="check1" v-model="combo.shared">
                    <label for="check1">
                      <div class="icons">
                        <i class="iconfont uncheck">&#xe7fd;</i>
                        <i class="iconfont check">&#xe773;</i>
                      </div>
                      分享到商店
                    </label>
                  </div>
                </div>
                <div class="fr">
                  <router-link to="/users/gallery/own/combos" class="btn btn-link">取消并返回</router-link>
                  <button class="btn btn-primary" @click.prevent="create" :disabled="invalid">
                  <span v-show="!saveProcess">
                    保存并创建
                  </span>
                    <span v-show="saveProcess">
                    <i class="iconfont loading">&#xe6a8;</i> 处理中...
                  </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="pure-u-1-8"></div>
      </div>
    </div>
    <action-picker v-show="showActionPicker" :selected="selected" :actions="actions"></action-picker>
    <icon-picker v-if="showIconPicker"></icon-picker>
  </div>
</template>

<script>
  /* eslint-disable max-len,no-alert */

  import { required } from 'vuelidate/lib/validators'
  import Combos from 'api/combos'
  import Gallery from 'api/gallery'
  import Catalogs from 'api/gallery/catalogs'
  import ActionPicker from 'components/ActionPicker'
  import IconPicker from 'components/IconPicker'

  export default {
    name: 'combos-create-view',
    components: { ActionPicker, IconPicker },
    computed: {
      invalid () {
        if (this.combo.shared) {
          return this.$v.$invalid || this.saveProcess || this.combo.catalog_id === 0 || this.combo.role_id === 0 || this.selected.length < 1
        }
        return this.$v.$invalid || this.saveProcess || this.selected.length < 1
      }
    },
    data () {
      return {
        showIconPicker: false,
        showActionPicker: false,
        saveProcess: false,
        selected: [],
        actions: [],
        combo: {
          title: '',
          desc: '',
          placeholder: '',
          shortcut: '',
          icon: 'ds_icon icon-tupian',
          color: '#BFCBDB',
          shared: false,
          pinned: true,
          sort: 1,
          actions: [],
          catalog_id: 0,
          role_id: 0
        },
        catalogs: [],
        roles: []
      }
    },
    validations: {
      combo: {
        title: {
          required
        },
        shortcut: {
          required
        },
        desc: {
          required
        },
        placeholder: {
          required
        }
      }
    },
    beforeMount () {
      const vm = this
      let actionIds
      if (vm.$route.params.ids) {
        actionIds = vm.$route.params.ids.split(',')
      }
      Promise.all([
        Gallery.getAll('actions', { per_page: 'all' }),
        Gallery.getAll('actions', { action_ids: actionIds }),
        Catalogs.getAll()
      ]).then(([{ data: { data: actions } }, { data: { data: selected } }, { catalogs, roles }]) => {
        vm.catalogs = catalogs
        vm.actions = actions
        vm.roles = roles
        const selectedActions = selected
        if (actionIds) {
          selectedActions.forEach((action) => {
            if (actionIds.indexOf(action.id.toString()) > -1) {
              selectedActions[action.id] = action
            }
          })
          actionIds.forEach((id) => {
            vm.selected.push(selectedActions[id])
          })
        }
      })
      this.$router.app.$on('select', this.select)
      this.$router.app.$on('close-action-picker', () => {
        vm.showActionPicker = false
      })
      this.$router.app.$on('close-icon-picker', () => {
        vm.showIconPicker = false
      })
      this.$router.app.$on('submit-icon-picker', (icon, color) => {
        vm.showIconPicker = false
        vm.combo.icon = icon
        vm.combo.color = color
      })
    },
    methods: {
      create () {
        const vm = this
        vm.saveProcess = true
        const actions = []
        this.selected.forEach((action, index) => {
          actions.push({
            id: action.id,
            sort: index
          })
        })
        this.combo.actions = actions
        Combos.own.create(this.combo).then(() => {
          vm.saveProcess = false
          vm.$trackr.track('combos-created', {
            from: vm.$route.params.ids ? 'search' : 'account'
          })
          alert('创建成功')
          vm.$router.push('/users/gallery/own/combos')
        })
      },
      isSelected (action) {
        const result = this.selected.filter(item => item.id === action.id)
        return result.length > 0
      },
      select (action) {
        const vm = this
        if (this.isSelected(action)) {
          this.selected.forEach((item, index) => {
            if (item.id === action.id) {
              vm.selected.splice(index, 1)
            }
          })
        } else {
          if (this.selected.length >= 6) {
            window.alert('最多只能添加6个资源')
            return
          }
          this.selected.push(action)
        }
      }
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  $primary: #19A6FF;
  $dark: #2F4460;
  $border: #DFDFDF;
  $body: #768BA7;
  $danger: #ED4156;
  $unit: 10px;

  li.selected {
    color: $danger;
  }

  .error {
    border-color: $danger;
  }

  .user-action {
    .mask {
      .content {
        padding: 2*$unit;
      }
    }
    .preview {
      width: 15*$unit;
      height: 15*$unit;
      margin: 3*$unit auto 2*$unit;
      background: $border;
      text-align: center;
      i {
        font-size: 8*$unit;
        line-height: 16*$unit;
        color: #fff;
      }
    }
    .colors {
      margin: 2*$unit 0;
      .btn {
        line-height: 5*$unit;
      }
      input[type=radio] {
        display: none;
      }
      input[type=radio]:checked {
        & + label {
          border: 1px solid $border;
          border-radius: 100%;
        }
      }
      label {
        display: block;
        padding: 1*$unit;
        width: 7.2*$unit;
        height: 7.2*$unit;
        border: 1px solid #fff;
        cursor: pointer;
        .fill {
          width: 5*$unit;
          height: 5*$unit;
          border-radius: 100%;
          background: $danger;
        }
      }
    }
    .icon-list {
      input[type=radio] {
        display: none;
      }
      input[type=radio]:checked {
        & + label {
          .icon-wrap {
            border: 1px solid $primary;
          }
          i {
            color: $primary;
          }
        }
      }
      label {
        display: block;
        padding: 1*$unit;
        width: 100%;
        cursor: pointer;
        .icon-wrap {
          height: 8*$unit;
          border: 1px solid $border;
          line-height: 8*$unit;
          text-align: center;
          border-radius: .4*$unit;
        }
        i {
          font-size: 3*$unit;
          color: $dark;
        }
      }
    }
    .breadcrumb {
      display: block;
      width: 100%;
      margin: 2*$unit 0;
    }
    .intro {
      text-align: center;
      .btn {
        font-weight: bold;
        i {
          font-size: 1.8*$unit;
          font-weight: normal;
        }
      }
      .basic {
        text-align: center;
        cursor: pointer;
        li {
          padding: 1*$unit;
          font-size: 1.4*$unit;
          color: $body;
          border-bottom: 1px solid $border;
        }
      }
      .avatar {
        width: 15*$unit;
        height: 15*$unit;
        margin: 0 auto;
        background: $border;
        text-align: center;
        i {
          font-size: 8*$unit;
          line-height: 15*$unit;
          color: #fff;
        }
      }
    }
    .grid-right > .info {
      & > .des {
        margin: 2*$unit 0;
        color: $body;
        font-size: 1.6*$unit;
        line-height: 170%;
      }
      section {
        margin: 1*$unit 0;
        .title {
          font-size: 1.6*$unit;
          color: $dark;
          margin-bottom: 1*$unit;
        }
      }
    }
  }

  .apps .app-pick {
    width: 19*$unit;
    padding: 2*$unit;
    display: block;
  }

  .icon-picker .popover {
    display: block !important;
    height: auto;
    .act {
      margin: 1*$unit 0;
    }
  }

  .apps-pick {
    .popover {
      display: block !important;
      width: 640px;
      .content {
        height: 490px;
      }
    }
    .apps-list {
      .apps {
        li {
          float: left;
          width: 33.332%;
          margin: 1*$unit 0;
          a {
            margin: 0 auto;
          }
        }
      }
      .app .checked {
        display: none;
      }
      .app.selected {
        border-color: $primary;
        position: relative;
      }
      .app.selected .checked {
        display: inline-block;
        position: absolute;
        color: $primary;
        font-size: 2*$unit;
        right: -1.2*$unit;
        top: -1.4*$unit;
        z-index: 2;
      }
    }
  }
</style>
