<template>
  <div class="users-gallery-follow-actions">
    <!--<div class="act-bar clearfix">-->
    <!--<div class="fr">-->
    <!--<button v-if="needUpgradeActionIds > 0" @click="upgradeAll" class="btn btn-primary"><i class="iconfont">-->
    <!--&#xe63c;</i>-->
    <!--全部更新-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <empty v-show="!actions.length" style="margin-top: 15rem">
      <p>当前页面没有资源</p>
      <router-link to="/gallery" class="btn btn-ghost btn-primary btn-sm">
        去下载
      </router-link>
    </empty>
    <ul class="list-grid" v-show="actions.length">
      <li class="app-list-item clearfix" v-for="(action, $index) in actions">
        <i class="badge" :class="action.icon" :style="'color:'+ action.color"></i>
        <span class="title">{{action.custom.alias}}</span>
        <span class="des">{{action.desc}}</span>
        <div class="acts fr">
          <button @click="upgrade(action)" class="btn btn-ghost btn-danger btn-sm"
                  v-if="action.need_update && !action.custom.is_owner"><i class="iconfont">
            &#xe603;</i> 更新
          </button>
          <router-link :to="'/users/gallery/follow/actions/' + action.id + '/edit'"
                       class="btn btn-link btn-success btn-sm"><i class="iconfont">&#xe74b;</i> 编辑
          </router-link>
          <button @click="uninstall(action, $index)" class="btn btn-link btn-sm"><i class="iconfont">&#xe640;</i> 移除
          </button>
        </div>
      </li>
    </ul>
    <pagination :pagination="pagination"></pagination>
  </div>
</template>
<script>
  /* eslint-disable no-param-reassign */

  import Actions from 'api/actions'
  import Pagination from 'components/Pagination'
  import Empty from 'components/Empty'

  function fetch (vm, params = null) {
    Actions.follow.getAll(params).then(({ data: { data: actions, meta: { pagination } } }) => {
      vm.actions = actions
      vm.pagination = pagination
    })
  }
  export default {
    name: 'users-gallery-follow-actions',
    components: { Pagination, Empty },
    computed: {
      needUpgradeActionIds () {
        const actionIds = []
        this.actions.forEach((action) => {
          if (action.need_update) {
            actionIds.push(action.id)
          }
        })
        return actionIds
      }
    },
    data () {
      return {
        actions: [],
        pagination: {}
      }
    },
    beforeMount () {
      const vm = this
      fetch(vm)
      this.$router.app.$on('changePage', this.changePage)
    },
    methods: {
      uninstall (action, index) {
        const vm = this
        Actions.follow.remove(action.id).then(() => {
          vm.actions.splice(index, 1)
        })
      },
      changePage (page) {
        fetch(this, {
          page
        })
      },
      upgrade (action) {
        Actions.follow.upgrade([action.id]).then(() => {
          window.location.reload()
        })
      },
      upgradeAll () {
        Actions.follow.upgrade(this.needUpgradeActionIds).then(() => {
          window.location.reload()
        })
      }
    }
  }
</script>
