<template>
  <div>
    <!--<div class="act-bar clearfix">-->
    <!--<div class="fr">-->
    <!--<button v-if="needUpgradeComboIds > 0" @click="upgradeAll" class="btn btn-primary"><i class="iconfont">-->
    <!--&#xe63c;</i>-->
    <!--全部更新-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <empty v-show="!combos.length" style="margin-top: 15rem">
      <p>当前页面没有合辑</p>
      <router-link to="/gallery" class="btn btn-ghost btn-primary btn-sm">
        去下载
      </router-link>
    </empty>
    <ul class="list-grid" v-show="combos.length">
      <li class="app-list-item clearfix" v-for="(combo, $index) in combos">
        <i class="badge" :class="combo.icon" :style="'color:'+ combo.color"></i>
        <span class="title">{{combo.custom.alias}}</span>
        <span class="des">{{combo.desc}}</span>
        <div class="acts fr">
          <button @click="upgrade(action)" class="btn btn-ghost btn-danger btn-sm"
                  v-if="combo.need_update && !combo.custom.is_owner"><i class="iconfont">
            &#xe603;</i> 更新
          </button>
          <router-link :to="'/users/gallery/follow/combos/' + combo.id + '/edit'"
                       class="btn btn-link btn-success btn-sm"><i class="iconfont">&#xe74b;</i> 编辑
          </router-link>
          <button @click="uninstall(combo, $index)" class="btn btn-link btn-sm"><i class="iconfont">&#xe640;</i> 移除
          </button>
        </div>
      </li>
    </ul>
    <pagination :pagination="pagination"></pagination>
  </div>
</template>
<script>
  /* eslint-disable no-alert,no-param-reassign */

  import Combos from 'api/combos'
  import Pagination from 'components/Pagination'
  import Empty from 'components/Empty'

  function fetch (vm, params = null) {
    Combos.follow.getAll(params).then(({ data: { data: combos, meta: { pagination } } }) => {
      vm.combos = combos
      vm.pagination = pagination
    })
  }
  export default {
    name: 'users-gallery-follow-combos',
    components: { Pagination, Empty },
    computed: {
      needUpgradeComboIds () {
        const comboIds = []
        this.combos.forEach((combo) => {
          if (combo.need_update) {
            comboIds.push(combo.id)
          }
        })
        return comboIds
      }
    },
    data () {
      return {
        combos: [],
        pagination: {}
      }
    },
    beforeMount () {
      const vm = this
      fetch(vm)
      this.$router.app.$on('changePage', this.changePage)
    },
    methods: {
      uninstall (combo, index) {
        const vm = this
        if (window.confirm('确定要删除?')) {
          Combos.follow.remove(combo.id).then(() => {
            vm.combos.splice(index, 1)
          })
        }
      },
      changePage (page) {
        fetch(this, {
          page
        })
      },
      upgrade (combo) {
        Combos.follow.upgrade([combo.id]).then(() => {
          window.location.reload()
        })
      },
      upgradeAll () {
        Combos.follow.upgrade(this.needUpgradeComboIds).then(() => {
          window.location.reload()
        })
      }
    }
  }
</script>
