<template>
  <div class="combos-create-view user-action">
    <div class="main-grid pure-g">
      <ul class="breadcrumb">
        <li>
          <router-link to="/users/gallery/follow">收藏</router-link>
          <i class="iconfont">&#xe6a9;</i>
        </li>
        <li>
          <router-link to="/users/gallery/follow/combos">合辑</router-link>
          <i class="iconfont">&#xe6a9;</i>
        </li>
        <li class="fr tips">
          <a href="https://shimo.im/doc/6hFRCG0iOg4LYEem" target="_blank"><i class="iconfont">&#xe62c;</i> 如何创建源/合辑</a>
        </li>
      </ul>
      <div class="grid-left pure-u-1-4">
        <div class="intro">
          <div class="avatar" :style="{'background-color': combo.color}">
            <i :class="combo.icon"></i>
          </div>
        </div>
      </div>
      <div class="grid-right pure-u-3-4">
        <div class="form pb50">
          <form combo="">
            <div class="sheet">
              <div class="head">
                <span class="title">基础设置</span>
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-2">
                  <div class="item">
                    <label for="">资源标题</label>
                    <input type="text" class="input" :class="{error: $v.combo.custom.alias.$error}"
                           @input="$v.combo.custom.alias.$touch()" v-model="combo.custom.alias">
                  </div>
                </div>
                <div class="pure-u-1-2">
                  <div class="item">
                    <label for="">快捷键</label>
                    <input type="text" class="input" :class="{error: $v.combo.custom.shortcut.$error}"
                           @input="$v.combo.custom.shortcut.$touch()" v-model="combo.custom.shortcut">
                  </div>
                </div>
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-1">
                  <div class="item">
                    <label for="">资源描述</label>
                    <input type="text" class="input" disabled v-model="combo.desc">
                  </div>
                </div>
              </div>
            </div>
            <div class="combo clearfix mt10">
              <div class="fr">
                <router-link to="/users/gallery/follow/combos" class="btn btn-link">返回</router-link>
                <button class="btn btn-primary" @click.prevent="update" :disabled="$v.$invalid || saveProcess">
                  <span v-show="!saveProcess">
                    保存
                  </span>
                  <span v-show="saveProcess">
                    <i class="iconfont loading">&#xe6a8;</i> 处理中...
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-alert */

  import { required } from 'vuelidate/lib/validators'
  import Combos from 'api/combos'

  export default {
    name: 'combos-edit-view',
    data () {
      return {
        showIconPicker: false,
        showColorPicker: false,
        saveProcess: false,
        combo: {
          custom: {}
        }
      }
    },
    validations: {
      combo: {
        custom: {
          alias: {
            required
          },
          shortcut: {
            required
          }
        },
        desc: {
          required
        }
      }
    },
    beforeMount () {
      const vm = this
      return Combos.follow.get(this.$route.params.combo_id).then(({ data: { data: combo } }) => {
        vm.combo = combo
      })
    },
    methods: {
      update () {
        const vm = this
        vm.saveProcess = true
        Combos.follow.update(this.combo.id, {
          alias: this.combo.custom.alias,
          shortcut: this.combo.custom.shortcut
        }).then(() => {
          alert('更新成功')
          vm.saveProcess = false
          vm.$router.push('/users/gallery/follow/combos')
        })
      }
    }
  }
</script>

<style lang="scss">
  $primary: #19A6FF;
  $dark: #2F4460;
  $border: #DFDFDF;
  $body: #768BA7;
  $danger: #ED4156;
  $unit: 10px;

  .error {
    border-color: $danger;
  }

  .combos-create-view {
    .mask {
      .content {
        padding: 2*$unit;
      }
    }
    .preview {
      width: 15*$unit;
      height: 15*$unit;
      margin: 3*$unit auto 2*$unit;
      background: $border;
      text-align: center;
      .iconfont {
        font-size: 8*$unit;
        line-height: 16*$unit;
        color: #fff;
      }
    }
    .colors {
      margin: 2*$unit 0;
      .btn {
        line-height: 5*$unit;
      }
      input[type=radio] {
        display: none;
      }
      input[type=radio]:checked {
        & + label {
          border: 1px solid $border;
          border-radius: 100%;
        }
      }
      label {
        display: block;
        padding: 1*$unit;
        width: 7.2*$unit;
        height: 7.2*$unit;
        border: 1px solid #fff;
        cursor: pointer;
        .fill {
          width: 5*$unit;
          height: 5*$unit;
          border-radius: 100%;
          background: $danger;
        }
      }
    }
    .icon-list {
      input[type=radio] {
        display: none;
      }
      input[type=radio]:checked {
        & + label {
          .icon-wrap {
            border: 1px solid $primary;
          }
          .iconfont {
            color: $primary;
          }
        }
      }
      label {
        display: block;
        padding: 1*$unit;
        width: 100%;
        cursor: pointer;
        .icon-wrap {
          height: 8*$unit;
          border: 1px solid $border;
          line-height: 8*$unit;
          text-align: center;
          border-radius: .4*$unit;
        }
        i {
          font-size: 3*$unit;
          color: $dark;
        }
      }
    }
    .breadcrumb {
      display: block;
      width: 100%;
      margin: 2*$unit 0;
    }
    .intro {
      text-align: center;
      .btn {
        font-weight: bold;
        .iconfont {
          font-size: 1.8*$unit;
          font-weight: normal;
        }
      }
      .basic {
        text-align: center;
        cursor: pointer;
        li {
          padding: 1*$unit;
          font-size: 1.4*$unit;
          color: $body;
          border-bottom: 1px solid $border;
        }
      }
      .avatar {
        width: 15*$unit;
        height: 15*$unit;
        margin: 0 auto;
        background: $border;
        text-align: center;
        .iconfont {
          font-size: 8*$unit;
          line-height: 16*$unit;
          color: #fff;
        }
      }
    }
    .grid-right > .info {
      & > .des {
        margin: 2*$unit 0;
        color: $body;
        font-size: 1.6*$unit;
        line-height: 170%;
      }
      section {
        margin: 1*$unit 0;
        .title {
          font-size: 1.6*$unit;
          color: $dark;
          margin-bottom: 1*$unit;
        }
      }
    }
  }
</style>
