<template>
  <div class="users-gallery-view">
    <div class="pure-g main-grid">
      <!--<h1 class="page-title"><i class="iconfont">&#xe609;</i> 我的资源</h1>-->
      <div class="pure-u-1-4 grid-left">
        <user-gallery-nav></user-gallery-nav>
      </div>
      <div class="pure-u-3-4 grid-right">
        <div class="apps-list">
          <ul class="tabs">
            <li class="item">
              <router-link to="/users/gallery/follow/actions" :class="{active: tab === 'actions'}">{{$t('global.action')}}</router-link>
            </li>
            <li class="item">
              <router-link to="/users/gallery/follow/combos" :class="{active: tab === 'combos'}">
                {{$t('global.combo')}}
              </router-link>
            </li>
          </ul>
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import UserGalleryNav from 'components/UserGalleryNav'

  export default {
    name: 'users-gallery-follow',
    components: { UserGalleryNav },
    computed: {
      tab () {
        return this.$route.path.indexOf('actions') > -1 ? 'actions' : 'combos'
      }
    }
  }
</script>
