<template>
  <router-view></router-view>
</template>

<script>
  export default {
    name: 'users-gallery-view'
  }
</script>

<style lang="scss">
  .users-gallery-view {

    .main-grid {
      margin-top: 50px;
    }

    .page-title {
      width: 100%;
    }

    .act-bar {
      margin: 20px 0;
    }

    .apps-list {
      margin: -10px 20px 0 0;
    }

    .list-grid {
      margin: 20px 0;
    }

  }
</style>
