
@font-face {font-family: "ds_alphabet";
  src: url('//at.alicdn.com/t/font_0m02zoyccqevobt9.eot?t=1487302428862'); /* IE9*/
  src: url('//at.alicdn.com/t/font_0m02zoyccqevobt9.eot?t=1487302428862#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_0m02zoyccqevobt9.woff?t=1487302428862') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_0m02zoyccqevobt9.ttf?t=1487302428862') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_0m02zoyccqevobt9.svg?t=1487302428862#ds_alphabet') format('svg'); /* iOS 4.1- */
}

.ds_alphabet {
  font-family:"ds_alphabet" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zimum:before { content: "\e62c"; }

.icon-zimun:before { content: "\e62d"; }

.icon-zimuo:before { content: "\e62e"; }

.icon-zimup:before { content: "\e62f"; }

.icon-zimuq:before { content: "\e630"; }

.icon-zimur:before { content: "\e631"; }

.icon-zimus:before { content: "\e632"; }

.icon-zimua:before { content: "\e633"; }

.icon-zimub:before { content: "\e634"; }

.icon-zimuc:before { content: "\e635"; }

.icon-zimud:before { content: "\e636"; }

.icon-zimue:before { content: "\e637"; }

.icon-zimuf:before { content: "\e638"; }

.icon-zimug:before { content: "\e639"; }

.icon-zimuh:before { content: "\e63a"; }

.icon-zimui:before { content: "\e63b"; }

.icon-zimuj:before { content: "\e63c"; }

.icon-zimuk:before { content: "\e63d"; }

.icon-zimul:before { content: "\e63e"; }

.icon-zimuv:before { content: "\e63f"; }

.icon-zimuw:before { content: "\e640"; }

.icon-zimux:before { content: "\e641"; }

.icon-zimuy:before { content: "\e642"; }

.icon-zimuz:before { content: "\e643"; }

.icon-zimut:before { content: "\e644"; }

.icon-zimuu:before { content: "\e645"; }


@font-face {font-family: "ds_icon";
  src: url('//at.alicdn.com/t/font_47rvjes6qb9e8kt9.eot?t=1486976480998'); /* IE9*/
  src: url('//at.alicdn.com/t/font_47rvjes6qb9e8kt9.eot?t=1486976480998#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_47rvjes6qb9e8kt9.woff?t=1486976480998') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_47rvjes6qb9e8kt9.ttf?t=1486976480998') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_47rvjes6qb9e8kt9.svg?t=1486976480998#ds_icon') format('svg'); /* iOS 4.1- */
}

.ds_icon {
  font-family:"ds_icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjian:before { content: "\e600"; }

.icon-xiazai:before { content: "\e619"; }

.icon-sheying:before { content: "\e616"; }

.icon-app:before { content: "\e610"; }

.icon-yinyue:before { content: "\e679"; }

.icon-shouji:before { content: "\e647"; }

.icon-appstore:before { content: "\e611"; }

.icon-tag:before { content: "\e62c"; }

.icon-cilian:before { content: "\e617"; }

.icon-dianying3:before { content: "\e66f"; }

.icon-tupian:before { content: "\e62f"; }

.icon-search1:before { content: "\e607"; }

.icon-shipin:before { content: "\e60e"; }

.icon-xinwen:before { content: "\e6cb"; }

.icon-dollar:before { content: "\e62a"; }

.icon-dianying:before { content: "\e60c"; }

.icon-xiezi:before { content: "\e60b"; }

.icon-torrent:before { content: "\e902"; }

.icon-yinyue2:before { content: "\e78e"; }

.icon-sheji:before { content: "\e630"; }

.icon-xinwen1:before { content: "\e621"; }

.icon-yisheng:before { content: "\e646"; }

.icon-boke:before { content: "\e61d"; }

.icon-yingyong:before { content: "\e6a3"; }

.icon-yonghu:before { content: "\e788"; }

.icon-xinwen2:before { content: "\e603"; }

.icon-display:before { content: "\e60f"; }

.icon-hanguoguan:before { content: "\e751"; }

.icon-meiguoguan:before { content: "\e752"; }

.icon-ribenguan:before { content: "\e753"; }

.icon-dianying1:before { content: "\e606"; }

.icon-dianshiju:before { content: "\e6de"; }

.icon-1:before { content: "\e6e7"; }

.icon-sheji1:before { content: "\e638"; }

.icon-shopping:before { content: "\e629"; }

.icon-music:before { content: "\e63e"; }

.icon-dianying2-12:before { content: "\e60d"; }

.icon-weibiaoti2:before { content: "\e613"; }

.icon-car:before { content: "\e68b"; }

.icon-fanyi:before { content: "\e664"; }

.icon-baike:before { content: "\e602"; }

.icon-yaowan:before { content: "\e61a"; }

.icon-dianshi:before { content: "\e631"; }

.icon-tubiao:before { content: "\e615"; }

.icon-yingjian:before { content: "\e6ec"; }

.icon-jingji:before { content: "\e65e"; }

.icon-zhongguo:before { content: "\e601"; }

.icon-deguo:before { content: "\e605"; }

.icon-riben:before { content: "\e608"; }

.icon-yingguo:before { content: "\e609"; }

.icon-meiguo:before { content: "\e60a"; }

.icon-hanguo:before { content: "\e614"; }

.icon-danmu:before { content: "\e61b"; }

.icon-xueshimao:before { content: "\e633"; }

.icon-lvxing:before { content: "\e604"; }

.icon-dict:before { content: "\e6bd"; }

.icon-gongsi:before { content: "\e612"; }

.icon-erciyuan:before { content: "\e618"; }


@font-face {font-family: "ds_logo";
  src: url('//at.alicdn.com/t/font_k84hivkf54z8semi.eot?t=1486976209309'); /* IE9*/
  src: url('//at.alicdn.com/t/font_k84hivkf54z8semi.eot?t=1486976209309#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_k84hivkf54z8semi.woff?t=1486976209309') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_k84hivkf54z8semi.ttf?t=1486976209309') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_k84hivkf54z8semi.svg?t=1486976209309#ds_logo') format('svg'); /* iOS 4.1- */
}

.ds_logo {
  font-family:"ds_logo" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-douban:before { content: "\e607"; }

.logo-weibo:before { content: "\e60b"; }

.logo-qq:before { content: "\e648"; }

.logo-taobao:before { content: "\e646"; }

.logo-vimeo:before { content: "\e61c"; }

.logo-zhihu:before { content: "\e6d1"; }

.logo-360:before { content: "\e612"; }

.logo-acfun:before { content: "\e602"; }

.logo-mtime:before { content: "\e694"; }

.logo-wechat:before { content: "\e600"; }

.logo-translate:before { content: "\e6e7"; }

.logo-souhushipin:before { content: "\e750"; }

.logo-apple:before { content: "\e60d"; }

.logo-twitter:before { content: "\e640"; }

.logo-baidu:before { content: "\e604"; }

.logo-dribbble:before { content: "\e66a"; }

.logo-reddit:before { content: "\ebbd"; }

.logo-twitch:before { content: "\ecb2"; }

.logo-wangyimusic:before { content: "\e605"; }

.logo-behance:before { content: "\e683"; }

.logo-tianmao:before { content: "\e627"; }

.logo-bilibili:before { content: "\e603"; }

.logo-xiami:before { content: "\e64b"; }

.logo-amazon:before { content: "\e60a"; }

.logo-facebook:before { content: "\e6d9"; }

.logo-jingdong:before { content: "\e64f"; }

.logo-tumblr:before { content: "\e849"; }

.logo-36kr:before { content: "\e61d"; }

.logo-dangdang:before { content: "\e61f"; }

.logo-qqyinyue:before { content: "\e614"; }

.logo-yihaodian:before { content: "\e6c6"; }

.logo-youdao:before { content: "\e6c8"; }

.logo-ebay:before { content: "\e601"; }

.logo-google:before { content: "\e758"; }

.logo-yahoo:before { content: "\e951"; }

.logo-imdb:before { content: "\e6b5"; }

.logo-quora:before { content: "\e6e5"; }

.logo-spotify:before { content: "\e727"; }

.logo-dingxiangke:before { content: "\e65a"; }

.logo-sougou:before { content: "\e67a"; }

.logo-medium:before { content: "\e6e8"; }

.logo-bing:before { content: "\e70c"; }

.logo-buzzfeed:before { content: "\e710"; }

.logo-youtube:before { content: "\e799"; }
