<template>
  <div class="home-view">
    <div class="container">
      <h1>About</h1>
    </div>
  </div>
</template>

<script>
  import Spinner from '../components/Spinner'

  export default {
    name: 'about-view',
    components: { Spinner },
    computed: {}
  }
</script>

<style></style>
