<template>
  <div class="home-view">
    <div id="notice" :class="{active: showFavTip}">
      <div class="wrap">
        <a class="link" style="color: #19A6FF;" href="https://www.zhihu.com/question/20251786/answer/147476302"
           target="_blank">
          喜欢deepso, 帮我们在知乎上点个赞 ?
        </a>
        <!--<a class="btn btn-sm btn-primary btn-ghost" style="float: right;cursor:move;"><i class="iconfont star">&#xe611;</i> 添加到收藏夹</a>-->
        <a class="close btn btn-primary btn-sm btn-link" @click.prevent="disTip"><i class="iconfont">&#xe7ca;</i></a>
      </div>
    </div>
    <head-nav></head-nav>
    <div id="search-panel">
      <img src="//omwqcseka.qnssl.com/cdn/images/logo.png" class="logo">
      <div class="search-bar pure-g">
        <div class="pure-u-7-8 pr">
          <div class="search-input" @click="focus()" id="scrollForm">
            <form action="" v-on:submit.prevent="search">
              <button class="btn btn-link btn-primary btn-sm" v-show="!selected.length"><i class="iconfont">&#xe619;</i>
                请选择任意资源或合辑

              </button>
              <div class="btn-act" :class="[source.actions ? 'btn-deep' : 'btn-primary' ]" v-for="source in selected">
                <span class="content">{{source.title}}</span>
                <span class="act" v-on:click="remove(source)"><i class="iconfont">&#xe7ca;</i></span>
              </div>
              <input type="text" class="input" v-model="keyword" id="ds-input" v-if="selected.length === 1"
                     :placeholder="selected[0]['placeholder'] || '请输入关键字'">
              <input type="text" class="input" v-model="keyword" id="ds-input" v-else placeholder="请输入关键字"
                     v-show="selected.length">
            </form>
          </div>
          <button class="btn btn-link clear" v-show="keyword" @click.prevent="keyword = ''"><i class="iconfont">
            &#xe65d;</i></button>
        </div>
        <div class="pure-u-1-8">
          <div class="search-button">
            <button class="btn btn-primary btn-lg" v-on:click="search"><i class="iconfont">&#xe600;</i></button>
          </div>
        </div>
        <!-- <p class="error" v-show="!selected.length">请选择任意资源或合辑进行搜索</p> -->
      </div>
      <source-panel :selected="selected"></source-panel>
    </div>
    <home-picker v-if="showHomePicker"></home-picker>
  </div>
</template>

<script>
  /* eslint-disable no-alert */

  import SourcePanel from 'components/SourcePanel'
  import HomePicker from 'components/HomePicker'
  import HeadNav from 'components/Nav'
  import Notify from 'src/notify'
  import db from 'src/db'

  export default {
    name: 'home-view',
    components: { SourcePanel, HomePicker, HeadNav },
    data () {
      return {
        searchType: 'combo',
        selected: [],
        keyword: '',
        actions: [],
        combos: [],
        showFavTip: false,
        isMac: false,
        dropdown: false
      }
    },
    computed: {
      isAuth () {
        return this.$store.getters.isAuth
      },
      sortedActions () {
        if (!this.isAuth) return this.actions
        return this.actions.sort((action1, action2) => {
          const date1 = action1.custom.installed_at
          const date2 = action2.custom.installed_at
          return new Date(date1) - new Date(date2)
        })
      },
      sortedCombos () {
        if (!this.isAuth) return this.combos
        return this.combos.sort((combo1, combo2) => {
          const date1 = combo1.custom.installed_at
          const date2 = combo2.custom.installed_at
          return new Date(date1) - new Date(date2)
        })
      },
      showHomePicker () {
        return this.$store.getters.components.homePicker
      }
    },
//    preFetch (store) {
//      return store.dispatch('fetchPackage')
//    },
    beforeMount () {
      this.$router.app.$on('select', this.select)
    },
    mounted () {
      this.isMac = window.navigator.platform.toUpperCase().indexOf('MAC') >= 0;
      this.showFavTip = !db.get('zhihu-promote')
      Notify.init()
    },
    methods: {
      disTip () {
        db.set('zhihu-promote', true)
        this.showFavTip = false
      },
      isSelected (source) {
        return this.selected.indexOf(source)
      },
      select (searchType, source) {
        if (this.searchType === searchType) {
          if (this.searchType === 'action') {
            const index = this.isSelected(source)
            if (index > -1) {
              this.selected.splice(index, 1)
            } else {
              if (this.selected.length >= 6) {
                return window.alert('最多只能添加6个资源')
              }
              this.selected.push(source)
            }
          } else if (this.searchType === 'combo') {
            if (this.isSelected(source) > -1) {
              this.selected = []
            } else {
              this.selected = [source]
            }
          }
        } else {
          this.searchType = searchType
          this.selected = [source]
        }
        return true
      },
      search () {
        let keyword = this.keyword

        // prevent no actions search
        if (this.selected.length < 1) return

        // if no keyword, use placeholder. Otherwise return
        if (keyword.length < 1) {
          if (!this.selected[0].placeholder) return
          keyword = this.selected[0].placeholder
        }

        db.set('first-search', true)

        const trackData = {
          from: 'home',
          keyword
        }

        // action search
        if (this.searchType === 'action') {
          // multi actions
          if (this.selected.length > 1) {
            this.multiSearch('actions', this.selected, keyword)
            trackData.type = 'multi-actions'
            this.$trackr.track('search', trackData)

            // single action
          } else {
            trackData.type = 'action'
            trackData.source_name = this.selected[0].title
            this.$trackr.track('search', trackData)
            const url = this.selected[0].url.replace('[keyword]', keyword)
            window.open(url)
          }

          // combos search
        } else {
          this.multiSearch('combos', this.selected[0], keyword)
          trackData.type = 'combo'
          trackData.source_name = this.selected[0].title
          this.$trackr.track('search', trackData)
        }
      },
      multiSearch (type, sources, keyword) {
        function getActionIds (actions) {
          const ids = []
          actions.forEach((action) => {
            ids.push(action.id)
          })
          return ids.join(',')
        }

        this.goSearch({
          type,
          keyword,
          sources: type === 'actions' ? getActionIds(sources) : sources.id
        })
      },
      remove (source) {
        return this.selected.splice(this.selected.indexOf(source), 1)
      },
      focus () {
        document.getElementById('ds-input').focus()
      }
    }
  }
</script>

<style lang="scss">
  $primary: #19A6FF;
  $danger: #ED4156;
  $gray: #9B9B9B;
  $lightgray: #F3F3F3;
  $dark: #2F4460;
  $bright: #BFCBDB;
  $body: #768BA7;
  $border: #DFDFDF;
  $unit: 10px;

  #search-panel {
    width: 740px;
    padding-top: 5*$unit;
    margin: 0 auto;
    .title {
      position: relative;
    }
    .tips {
      color: $primary;
      font-size: 24px !important;
      position: absolute;
      top: 30px;
      left: -50px;
      animation: startUp 1.5s ease-in-out infinite;
      -webkit-animation: startUp 1.5s ease-in-out infinite;
    }
    .logo {
      display: block;
      width: 17.4*$unit;
      margin: 0 auto;
    }
    .search-bar {
      margin-top: 3*$unit;
      cursor: text;
      position: relative;
      .error {
        color: $primary;
        font-size: 12px;
        position: absolute;
        top: 54px;
        left: 15px;
      }
      .pure-u-7-8 {
        padding-right: 1*$unit;
        .clear {
          position: absolute;
          top: .2*$unit;
          right: 1*$unit;
          line-height: 1.8;
        }
      }
      .search-input {
        display: inline-block;
        width: 100%;
        padding: .9*$unit;
        border: 1px solid $border;
        border-radius: .2*$unit;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: scroll;
        .btn-link.btn-sm {
          padding: 7px 15px;
          font-size: 13px;
          font-weight: bold;
          .iconfont {
            font-size: 12px;
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
        overflow: -moz-scrollbars-none;
        .btn-act + .btn-act {
          margin-left: 1*$unit;
        }
        .input {
          width: 30*$unit;
          height: 3*$unit;
          border: 0 none;
          padding: .5*$unit;
        }
      }
      .search-button {
        display: inline-block;
        width: 100%;
        .btn {
          width: 100%;
          .iconfont {
            font-size: 1.6*$unit;
            border: 1px solid $primary;
          }
        }
      }
    }
    section {
      width: 100%;
      .btn-act {
        margin: 1*$unit;
      }
      .title {
        font-size: 1.4*$unit;
        font-weight: bold;
        color: $dark;
        margin: 2*$unit 1*$unit 0 0;
        .iconfont {
          font-size: 1.4*$unit;
          font-weight: normal;
        }
      }
      .btn-link {
        width: 100%;
        margin: .8*$unit 0;
      }
      .more {
        border-top: 1px dotted $border;
        margin-top: 1.5*$unit;
        padding-top: 1.5*$unit;
      }
    }
  }

  @-webkit-keyframes startUp {
    0%, 30% {
      opacity: 0;
      -webkit-transform: translate(-5px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(10px, 0);
    }
  }

  @keyframes startUp {
    0%, 30% {
      opacity: 0;
      -webkit-transform: translate(-5px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(10px, 0);
    }
  }
</style>
