<template>
  <div class="actions-create-view user-action">
    <div class="main-grid pure-g">
      <ul class="breadcrumb">
        <li>
          <router-link to="/users/gallery/own">我创建</router-link>
          <i class="iconfont">&#xe6a9;</i>
        </li>
        <li>
          <router-link to="/users/gallery/own/actions">资源</router-link>
          <i class="iconfont">&#xe6a9;</i>
        </li>
        <li class="fr tips">
          <a href="https://shimo.im/doc/6hFRCG0iOg4LYEem" target="_blank"><i class="iconfont">&#xe62c;</i> 如何创建源/合辑</a>
        </li>
      </ul>
      <div class="grid-left pure-u-1-4">
        <div class="intro">
          <div class="avatar" :style="{'background-color': action.color}">
            <i :class="action.icon"></i>
          </div>
          <ul class="basic mt20">
            <li @click="showIconPicker = true">选择展示图标</li>
          </ul>
        </div>
      </div>
      <div class="grid-right pure-u-3-4">
        <div class="form pb50">
          <form action="">
            <div class="sheet">
              <div class="head">
                <span class="title">基础设置</span>
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-2">
                  <div class="item">
                    <label for="">资源标题</label>
                    <input type="text" class="input" :class="{error: $v.action.title.$error}"
                           @input="$v.action.title.$touch()" v-model="action.title">
                  </div>
                </div>
                <div class="pure-u-1-2">
                  <div class="item">
                    <label for="">快捷键</label>
                    <input type="text" class="input" :class="{error: $v.action.shortcut.$error}"
                           @input="$v.action.shortcut.$touch()" v-model="action.shortcut">
                  </div>
                </div>
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-1">
                  <div class="item">
                    <label for="">资源描述</label>
                    <input type="text" class="input" :class="{error: $v.action.desc.$error}"
                           @input="$v.action.desc.$touch()" v-model="action.desc">
                  </div>
                </div>
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-1">
                  <div class="item">
                    <label for="">默认搜索

                      <small>(默认搜索的内容，提示用户应该填写什么)</small>
                    </label>
                    <input type="text" class="input" :class="{error: $v.action.placeholder.$error}"
                           @input="$v.action.placeholder.$touch()" v-model="action.placeholder">
                  </div>
                </div>
              </div>
            </div>
            <div class="sheet">
              <div class="head">
                <span class="title">搜索设置</span>
                <!--<span class="status"><i class="iconfont">&#xe60a;</i> 搜索测试</span>-->
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-1">
                  <div class="item">
                    <label for="">搜索链接</label>
                    <span v-if="$v.action.url.$error" class="error-msg fr">
                      <i class="iconfont">&#xe606;</i> 请输入正确的链接, 关键字用[keyword]表示，譬如 http://baidu.com?q=[keyword]
                    </span>
                    <input type="text" class="input" placeholder="http://baidu.com?q=[keyword]"
                           :class="{error: $v.action.url.$error}" @input="$v.action.url.$touch()" v-model="action.url">
                  </div>
                  <!--<div class="params-form" v-if="action.params && action.params.length > 0">-->
                  <!--<div class="info pure-g">-->
                  <!--<div class="pure-u-1-8"></div>-->
                  <!--<div class="pure-u-1-4">参数说明</div>-->
                  <!--<div class="pure-u-1-4">参数</div>-->
                  <!--<div class="pure-u-1-4">填值说明</div>-->
                  <!--<div class="pure-u-1-8"></div>-->
                  <!--</div>-->
                  <!--<div class="params pure-g">-->
                  <!--<div class="pure-u-1-8">-->
                  <!--<div class="dash"></div>-->
                  <!--</div>-->
                  <!--<div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>-->
                  <!--<div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>-->
                  <!--<div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>-->
                  <!--<div class="pure-u-1-8">-->
                  <!--<button class="btn btn-link">-->
                  <!--<i class="iconfont">&#xe7ca;</i>-->
                  <!--</button>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<div class="params pure-g">-->
                  <!--<div class="pure-u-1-8">-->
                  <!--<div class="dash"></div>-->
                  <!--</div>-->
                  <!--<div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>-->
                  <!--<div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>-->
                  <!--<div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>-->
                  <!--<div class="pure-u-1-8">-->
                  <!--<button class="btn btn-link">-->
                  <!--<i class="iconfont">&#xe7ca;</i>-->
                  <!--</button>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<button class="btn btn-link btn-primary add-params">-->
                  <!--<i class="iconfont">&#xe60b;</i> 添加新参数-->
                  <!--</button>-->
                </div>
              </div>
            </div>
            <div class="sheet mt20" v-if="action.shared">
              <div class="head">
                <span class="title">上架到商店</span>
                <span v-if="action.audited === 0" class="status">未提交</span>
                <span v-if="action.audited === 2" class="status">待审核</span>
                <span v-if="action.audited === 3" class="status">被拒绝</span>
                <span v-if="action.audited === 1" class="status">已通过</span>
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-2">
                  <div class="item">
                    <label for="">选择分享类目</label>
                    <div class="select-wrap">
                      <select class="select" v-model="action.catalog_id">
                        <option :value="0">--</option>
                        <option :value="catalog.id" v-for="catalog in catalogs">{{catalog.title}}</option>
                      </select>
                      <span class="dropdown">
                        <i class="iconfont">&#xe64a;</i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="pure-u-1-2">
                  <div class="item">
                    <label for="">选择使用人群</label>
                    <div class="select-wrap">
                      <select class="select" v-model="action.role_id">
                        <option :value="0">--</option>
                        <option :value="role.id" v-for="role in roles">{{role.title}}</option>
                      </select>
                      <span class="dropdown">
                        <i class="iconfont">&#xe64a;</i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="action clearfix mt10">
              <div class="fl" v-if="action.audited === 0">
                <div class="checkbox-wrap">
                  <input type="checkbox" id="check1" v-model="action.shared">
                  <label for="check1">
                    <div class="icons">
                      <i class="iconfont uncheck">&#xe7fd;</i>
                      <i class="iconfont check">&#xe773;</i>
                    </div>
                    分享到商店
                  </label>
                </div>
              </div>
              <div class="fr">
                <router-link to="/users/gallery/own" class="btn btn-link">返回</router-link>
                <button class="btn btn-primary" @click.prevent="update" :disabled="invalid">
                  <span v-show="!saveProcess">
                    保存
                  </span>
                  <span v-show="saveProcess">
                    <i class="iconfont loading">&#xe6a8;</i> 处理中...
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <icon-picker v-if="showIconPicker"></icon-picker>
  </div>
</template>

<script>
  /* eslint-disable no-alert,max-len */

  import { required } from 'vuelidate/lib/validators'
  import { validUrl } from 'src/filters/validators'
  import Actions from 'api/actions'
  import Catalogs from 'api/gallery/catalogs'
  import IconPicker from 'components/IconPicker'

  export default {
    name: 'actions-edit-view',
    components: { IconPicker },
    data () {
      return {
        showIconPicker: false,
        saveProcess: false,
        action: {
          params: []
        },
        catalogs: [],
        roles: []
      }
    },
    computed: {
      invalid () {
        if (this.action.shared) {
          return this.$v.$invalid || this.saveProcess || this.action.catalog_id === 0 || this.action.role_id === 0
        }
        return this.$v.$invalid || this.saveProcess
      }
    },
    validations: {
      action: {
        title: {
          required
        },
        shortcut: {
          required
        },
        desc: {
          required
        },
        placeholder: {
          required
        },
        url: {
          required,
          validUrl
        }
      }
    },
    beforeMount () {
      const vm = this
      const actionId = this.$route.params.action_id
      Promise.all([Actions.own.get(actionId), Catalogs.getAll()]).then(([{ data: { data: action } }, { catalogs, roles }]) => {
        vm.action = action
        vm.catalogs = catalogs
        vm.roles = roles
      })
      this.$router.app.$on('close-icon-picker', () => {
        vm.showIconPicker = false
      })
      this.$router.app.$on('submit-icon-picker', (icon, color) => {
        vm.showIconPicker = false
        vm.action.icon = icon
        vm.action.color = color
      })
    },
    methods: {
      update () {
        const vm = this
        this.saveProcess = true
        Actions.own.update(this.action.id, this.action).then(() => {
          alert('更新成功')
          vm.saveProcess = false
          vm.$router.push('/users/gallery/own/actions')
        })
      }
    }
  }
</script>

<style lang="scss">
  $primary: #19A6FF;
  $dark: #2F4460;
  $border: #DFDFDF;
  $body: #768BA7;
  $danger: #ED4156;
  $unit: 10px;

  .error {
    border-color: $danger;
  }

  .actions-create-view {
    .mask {
      .content {
        padding: 2*$unit;
      }
    }
    .preview {
      width: 15*$unit;
      height: 15*$unit;
      margin: 3*$unit auto 2*$unit;
      background: $border;
      text-align: center;
      .iconfont {
        font-size: 8*$unit;
        line-height: 16*$unit;
        color: #fff;
      }
    }
    .colors {
      margin: 2*$unit 0;
      .btn {
        line-height: 5*$unit;
      }
      input[type=radio] {
        display: none;
      }
      input[type=radio]:checked {
        & + label {
          border: 1px solid $border;
          border-radius: 100%;
        }
      }
      label {
        display: block;
        padding: 1*$unit;
        width: 7.2*$unit;
        height: 7.2*$unit;
        border: 1px solid #fff;
        cursor: pointer;
        .fill {
          width: 5*$unit;
          height: 5*$unit;
          border-radius: 100%;
          background: $danger;
        }
      }
    }
    .icon-list {
      input[type=radio] {
        display: none;
      }
      input[type=radio]:checked {
        & + label {
          .icon-wrap {
            border: 1px solid $primary;
          }
          .iconfont {
            color: $primary;
          }
        }
      }
      label {
        display: block;
        padding: 1*$unit;
        width: 100%;
        cursor: pointer;
        .icon-wrap {
          height: 8*$unit;
          border: 1px solid $border;
          line-height: 8*$unit;
          text-align: center;
          border-radius: .4*$unit;
        }
        i {
          font-size: 3*$unit;
          color: $dark;
        }
      }
    }
    .breadcrumb {
      display: block;
      width: 100%;
      margin: 2*$unit 0;
    }
    .intro {
      text-align: center;
      .btn {
        font-weight: bold;
        .iconfont {
          font-size: 1.8*$unit;
          font-weight: normal;
        }
      }
      .basic {
        text-align: center;
        cursor: pointer;
        li {
          padding: 1*$unit;
          font-size: 1.4*$unit;
          color: $body;
          border-bottom: 1px solid $border;
        }
      }
      .avatar {
        width: 15*$unit;
        height: 15*$unit;
        margin: 0 auto;
        background: $border;
        text-align: center;
        .iconfont {
          font-size: 8*$unit;
          line-height: 16*$unit;
          color: #fff;
        }
      }
    }
    .grid-right > .info {
      & > .des {
        margin: 2*$unit 0;
        color: $body;
        font-size: 1.6*$unit;
        line-height: 170%;
      }
      section {
        margin: 1*$unit 0;
        .title {
          font-size: 1.6*$unit;
          color: $dark;
          margin-bottom: 1*$unit;
        }
      }
    }
  }

  .error-msg {
    font-size: 1.2*$unit;
    color: $danger;
    .iconfont {
      font-size: 1.4*$unit;
    }
  }
</style>
