<template>
  <div class="actions-create-view user-action actions-create-popup">
    <div class="main-grid pure-g">
      <div class="grid-right pure-u-3-4">
        <Empty v-if="status == 'success' " style="margin-top:150px;">
          <h1 style="font-size: 18px;color:green">创建成功</h1>
        </Empty>
        <div v-else class="form pb50">
          <form action="">
            <div class="sheet">
              <div class="head">
                <span class="title">创建即搜资源</span>
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-1">
                  <div class="item">
                    <label for="">资源标题</label>
                    <input type="text" class="input input-primary" :class="{error: $v.action.title.$error}"
                           @input="$v.action.title.$touch()" v-model="action.title">
                  </div>
                </div>
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-1">
                  <div class="item">
                    <label for="">资源描述</label>
                    <input type="text" class="input input-primary" :class="{error: $v.action.desc.$error}"
                           @input="$v.action.desc.$touch()" v-model="action.desc">
                  </div>
                </div>
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-1">
                  <div class="item">
                    <label for="">搜索链接</label>
                    <span v-if="$v.action.url.$error" class="error-msg fr">
                      <i class="iconfont">&#xe606;</i> 请输入正确的链接, 关键字用[keyword]表示，譬如 http://baidu.com?q=[keyword]
                    </span>
                    <input type="text" class="input input-primary" placeholder="http://baidu.com?q=[keyword]"
                           :class="{error: $v.action.url.$error}" @input="$v.action.url.$touch()" v-model="action.url">
                  </div>
                  <div class="params-form" v-if="action.params.length > 0">
                    <div class="info pure-g">
                      <div class="pure-u-1-8"></div>
                      <div class="pure-u-1-4">参数说明</div>
                      <div class="pure-u-1-4">参数</div>
                      <div class="pure-u-1-4">填值说明</div>
                      <div class="pure-u-1-8"></div>
                    </div>
                    <div class="params pure-g">
                      <div class="pure-u-1-8">
                        <div class="dash"></div>
                      </div>
                      <div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>
                      <div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>
                      <div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>
                      <div class="pure-u-1-8">
                        <button class="btn btn-link">
                          <i class="iconfont">&#xe7ca;</i>
                        </button>
                      </div>
                    </div>
                    <div class="params pure-g">
                      <div class="pure-u-1-8">
                        <div class="dash"></div>
                      </div>
                      <div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>
                      <div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>
                      <div class="pure-u-1-4 fieldset"><input type="text" class="input"></div>
                      <div class="pure-u-1-8">
                        <button class="btn btn-link">
                          <i class="iconfont">&#xe7ca;</i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!--<button class="btn btn-link btn-primary add-params">-->
                  <!--<i class="iconfont">&#xe60b;</i> 添加新参数-->
                  <!--</button>-->
                </div>
              </div>
            </div>
            <div class="sheet" v-if="action.shared">
              <div class="head">
                <span class="title">上架到商店</span>
                <!--<span class="status"><i class="iconfont">&#xe60a;</i> 搜索测试</span>-->
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-2">
                  <div class="item">
                    <label for="">选择分享类目</label>
                    <div class="select-wrap">
                      <select class="select" v-model="action.catalog_id">
                        <option :value="0">--</option>
                        <option :value="catalog.id" v-for="catalog in catalogs">{{catalog.title}}</option>
                      </select>
                      <span class="dropdown">
                        <i class="iconfont">&#xe64a;</i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="pure-u-1-2">
                  <div class="item">
                    <label for="">选择使用人群</label>
                    <div class="select-wrap">
                      <select class="select" v-model="action.role_id">
                        <option :value="0">--</option>
                        <option :value="role.id" v-for="role in roles">{{role.title}}</option>
                      </select>
                      <span class="dropdown">
                        <i class="iconfont">&#xe64a;</i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="action clearfix mt10">
              <div class="fl">
                <div class="checkbox-wrap">
                  <input type="checkbox" id="check1" v-model="action.shared">
                  <label for="check1">
                    <div class="icons">
                      <i class="iconfont uncheck">&#xe7fd;</i>
                      <i class="iconfont check">&#xe773;</i>
                    </div>
                    分享到商店
                  </label>
                </div>
              </div>
              <div class="fr">
                <a @click.prevent="closeWindow" class="btn btn-link">关闭窗口</a>
                <button class="btn btn-primary" @click.prevent="create" :disabled="invalid">
                  <span v-show="!saveProcess">
                    保存并创建
                  </span>
                  <span v-show="saveProcess">
                    <i class="iconfont loading">&#xe6a8;</i> 处理中...
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <icon-picker v-if="showIconPicker"></icon-picker>
  </div>
</template>

<script>
  /* eslint-disable max-len */

  import { required } from 'vuelidate/lib/validators'
  import { validUrl } from 'src/filters/validators'
  import Actions from 'api/actions'
  import Catalogs from 'api/gallery/catalogs'
  import IconPicker from 'components/IconPicker'
  import Empty from 'components/Empty'

  const colors = ['#ED4156', '#4990E2', '#32BF9F', '#F8E81C', '#F6A623', '#C964DB', '#ED9BA3', '#4A4A4A']
  export default {
    name: 'actions-create-view',
    components: { IconPicker, Empty },
    data () {
      return {
        openType: 'site',
        showIconPicker: false,
        saveProcess: false,
        stauts: 'editing',
        action: {
          title: '',
          desc: '',
          placeholder: '',
          shortcut: '',
          type: 'url',
          target: 'frame',
          url: '',
          icon: 'ds_icon icon-search1',
          color: '#BFCBDB',
          shared: false,
          pinned: true,
          sort: 1,
          params: [],
          catalog_id: 0,
          role_id: 0
        },
        catalogs: [],
        roles: []
      }
    },
    validations: {
      action: {
        title: {
          required
        },
        shortcut: {},
        desc: {
          required
        },
        placeholder: {},
        url: {
          required,
          validUrl
        }
      }
    },
    computed: {
      isAuth () {
        return this.$store.getters.isAuth
      },
      invalid () {
        if (this.action.shared) {
          return this.$v.$invalid || this.saveProcess || this.action.catalog_id === 0 || this.action.role_id === 0
        }
        return this.$v.$invalid || this.saveProcess
      }
    },
    beforeMount () {
      if (this.isAuth) {
        this.init()
      } else {
        this.toggleAuthPopup(true, 'popup-window')
      }
    },
    methods: {
      init () {
        const vm = this
        Catalogs.getAll().then(({ catalogs, roles }) => {
          vm.catalogs = catalogs
          vm.roles = roles
          if (vm.$route.query) {
            const query = vm.$route.query
            vm.$v.action.url.$touch()
            vm.openType = 'bookmark'
            vm.action.title = query.title
            vm.action.url = decodeURIComponent(query.url.replace('deepso', '[keyword]'))
            vm.action.desc = query.description
            vm.action.color = colors[Math.floor(Math.random() * 6)]
          }
        })

        this.$router.app.$on('close-icon-picker', () => {
          vm.showIconPicker = false
        })
        this.$router.app.$on('submit-icon-picker', (icon, color) => {
          vm.showIconPicker = false
          vm.action.icon = icon
          vm.action.color = color
        })
      },
      create () {
        const vm = this
        vm.saveProcess = true
        Actions.own.create(this.action).then(() => {
          vm.saveProcess = false
          vm.$trackr.track('actions-created', {
            from: 'popup'
          })
          vm.status = 'success'
          window.setTimeout(() => {
            vm.closeWindow()
          }, 1000)
        })
      },
      closeWindow () {
        window.close()
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  $primary: #19A6FF;
  $dark: #2F4460;
  $border: #DFDFDF;
  $body: #768BA7;
  $danger: #ED4156;
  $unit: 10px;

  .actions-create-view.actions-create-popup {
    .grid-right {
      padding: 0;
    }
    .sheet {
      padding: 20px 10px;
      background: #fff;
      border: 0 none;
      margin: 0;
    }
  }

  .input.input-primary {
  }
</style>
