<template>
  <div class="actions-view">
    <router-view></router-view>
  </div>
</template>

<script>
  import HeadNav from 'components/Nav'

  export default {
    name: 'actions',
    components: { HeadNav }
  }
</script>
