<template>
  <div class="mask apps-pick">
    <div class="center-wrap">
      <div class="center-vertical">
        <div class="popover">
          <div class="head">
            选择资源

          </div>
          <div class="content">
            <div class="search-wrap mb10">
              <form>
                <input type="text" class="input" placeholder="搜索关键字" v-model="keyword">
              </form>
            </div>
            <div class="apps-list">
              <ul class="apps clearfix">
                <li v-for="action in filterActions" @click="select(action)">
                  <a class="app" :class="{selected: isSelected(action)}">
                    <i class="iconfont checked">&#xe617;</i>
                    <div class="pure-g">
                      <div class="pure-u-1-3">
                        <div class="icon">
                          <i :class="action.icon" :style="'color: ' + action.color"></i>
                        </div>
                      </div>
                      <div class="pure-u-2-3">
                        <div class="info" :title="action.desc">
                          <p class="name">{{action.title}}</p>
                          <p class="des">{{action.desc}}</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="foot clearfix">
            <div class="act fr mb20 mt20">
              <button @click="close" class="btn btn-link btn-lg">返回</button>
              <button @click="close" class="btn btn-primary btn-lg">确认</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'action-picker',
    props: ['selected', 'actions'],
    data () {
      return {
        keyword: ''
      }
    },
    computed: {
      filterActions () {
        if (this.keyword.length > 0) {
          return this.actions.filter((action) => {
            const title = action.title.toLowerCase()
            const keyword = action.keyword.toLowerCase()
            const desc = action.desc.toLowerCase()
            return title.indexOf(keyword) > -1 || desc.indexOf(keyword) > -1
          })
        }
        return this.actions
      }
    },
    methods: {
      isSelected (action) {
        const arr = this.selected.filter(item => item.id === action.id)
        return arr.length > 0
      },
      select (action) {
        this.$router.app.$emit('select', action)
      },
      close () {
        this.$router.app.$emit('close-action-picker')
      }
    }
  }
</script>
