<template>
  <div class="mask">
    <div class="center-wrap">
      <div class="center-vertical">
        <div class="alert">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AlertPopover'
  }
</script>

<style lang="scss">

</style>
