<template>
  <div class="mask">
    <div class="center-wrap">
      <div class="center-vertical">
        <div class="auth-mask">
          <ul class="tabs">
            <li class="item">
              <a :class="{active: type === 'register'}" @click.prevent="type = 'register'">注册</a>
            </li>
            <li class="item">
              <a :class="{active: type === 'login'}" @click.prevent="type = 'login'">登录</a>
            </li>
          </ul>
          <register v-if="type === 'register'"></register>
          <login v-else></login>
          <span class="close" @click="closePopup">
            <i class="iconfont">&#xe7ca;</i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Login from 'views/auth/login'
  import Register from 'views/auth/register'

  export default {
    name: 'AuthPopover',
    components: { Login, Register },
    data () {
      return {
        type: 'register'
      }
    },
    mounted () {
      window.localStorage.setItem('deepso-redirect-url', window.location.href)
    },
    methods: {
      closePopup () {
        this.$store.dispatch('updateComponent', {
          name: 'authPopup',
          data: false
        })
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  $primary: #19A6FF;
  $danger: #ED4156;
  $gray: #9B9B9B;
  $lightgray: #F3F3F3;
  $dark: #2F4460;
  $bright: #BFCBDB;
  $body: #768BA7;
  $border: #DFDFDF;
  $success: #32BF9F;
  $deep: #007ee5;
  $unit: 10px;

  .auth-mask {
    width: 36*$unit;
    margin: 0 auto;
    background: #fff;
    padding: 4*$unit 3*$unit;
    border-radius: .4*$unit;
    position: relative;
    #auth {
      width: auto;
      margin: 0;
    }
    .close {
      position: absolute;
      top: 1.2*$unit;
      right: 1*$unit;
      cursor: pointer;
      .iconfont {
        color: $primary;
        font-size: 1.4*$unit;
      }
    }
  }
</style>
