<template>
  <div class="mask mask-light">
    <div class="center-wrap">
      <div class="center-vertical">
        <div class="ds-dialog">
          <p class="des">
            喜欢我们的网站吗？<br>
            点击下面的按钮添加即搜到收藏夹<br>
            方便快速访问哦
          </p>
          <div class="actions">
            <button class="btn-dialog btn-positive"><i class="iconfont" style="color: #F8E81C;">&#xe611;</i>&nbsp;&nbsp;
              添加到收藏夹
            </button>
            <button class="btn-dialog btn-negative">不了, 谢谢</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
