<template>
  <div class="empty-view">
    <i class="iconfont">&#xe682;</i>
    <div class="des">
      <!--<p>插入内容</p>-->
      <!--<a href="" class="btn btn-ghost btn-primary btn-sm">-->
      <!--提示操作-->
      <!--</a>-->
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'empty-view'
  }
</script>

<style lang="scss">
  $primary: #19A6FF;
  $body: #768BA7;
  $unit: 10px;

  .empty-view {
    color: $body;
    text-align: center;
    .iconfont {
      font-size: 5*$unit;
    }
    .des {
      strong {
        font-weight: bold;
      }
      p {
        font-size: 1.8*$unit;
        font-weight: bold;
        margin: 2*$unit 0;
      }
    }
  }
</style>
