<template>
  <div id="extensions">
    <div class="wrap">
      <h3>拖拽以下插件到书签栏</h3>
      <span class="close" @click.prevent="$store.dispatch('updateComponent', {name: 'extension',data: false})"><i
        class="iconfont">&#xe7ca;</i></span>
      <div class="pure-g">
        <div class="pure-u-1-2">
          <a class="ext"
             :href="siteLink"><span>&#x272a;</span>
            Deepso</a>
          <span class="des">快速打开Deepso</span>
        </div>
        <div class="pure-u-1-2">
          <a class="ext"
             :href="actionLink"><span>&#x272a;</span>
            添加资源</a>
          <span class="des">快速添加资源 | <a href="https://shimo.im/doc/KTzftCrGVkUOgGtV" target="_blank">使用教程</a></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-script-url,prefer-template */

  export default {
    name: 'ExtensionBtn',
    data () {
      return {
        siteLink: '',
        actionLink: ''
      }
    },
    mounted () {
      this.siteLink = 'javascript:void(window.open("' + window.location.origin + '?utm_source=bookmark"));'
      this.actionLink = 'javascript:void(function(){q=location.href,d=document.querySelector("[name=description]")%3Fdocument.querySelector("[name=description]").getAttribute("content"):"",p=document.title,open("' + window.location.origin + '/users/gallery/own/actions/popup%3Furl="+encodeURIComponent(q)+"%26description="+encodeURIComponent(d)+"%26title="+encodeURIComponent(p),"Deepso","width=400,height=490,left=100,top=100,resizable=no,toolbar=no,location=no,scrollbars=yes,status=no,menubar=no")}());'
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  $primary: #19A6FF;

  .extension-btn {
    display: inline-block;
  }

  #extensions {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -320px;
    width: 640px;
    padding: 10px 20px 20px;
    background: $primary;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 126, 229, 0.35);
    transition: .4s all ease;
    transform: translateY(-200%);
    &.active {
      transform: translateY(0);
    }
    .wrap {
      position: relative;
      .close {
        position: absolute;
        top: 5px;
        right: 0;
        cursor: pointer;
        .iconfont {
          font-size: 14px;
        }
      }
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .ext {
      font-size: 14px;
      padding: .5rem 1.5rem;
      background: #fff;
      color: $primary;
      border-radius: 2px;
      cursor: move; /* fallback if grab cursor is unsupported */
      span {
        color: #F6A623;
        font-size: 16px;
      }
    }
    .des {
      font-size: 14px;
      margin-left: 10px;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
    .tips {
      font-size: 14px;
    }
  }
</style>
