<template>
  <div id="footer" v-show="$route.path.indexOf('search') < 0">
    Deepso.io ©2017 BTWay All Right Reserved
    <!--| 联系我们:-->
    <!--<a target="_blank" href="mailto:info@btway.cc" class="link link-clear">-->
      <!--<i class="iconfont">&#xe608;</i> 邮件-->
    <!--</a>-->
    <!--<a target="_blank" href="http://weibo.com/u/6123218403" class="link link-clear">-->
      <!--<i class="iconfont">&#xe60c;</i>微博-->
    <!--</a>-->
    <!--<a target="_blank" href="http://blog.deepso.io/" class="link link-clear">-->
      <!--<i class="iconfont">&#xe61e;</i>博客</a>-->
    <!--<a href="" class="link link-clear"><i class="iconfont">&#xe611;</i> | 收藏该站-->
    <!--</a>-->
  </div>
</template>

<style lang="scss">
  $body: #768BA7;
  $unit: 10px;

  #footer {
    width: 100%;
    padding: .5*$unit 0;
    text-align: center;
    font-size: 1.2*$unit;
    color: $body;
    margin-top: -3*$unit;
    &.search-footer {
      margin-top: 0;
    }
    .link {
      color: #19A6FF;
      cursor: pointer;
      text-decoration: underline;
      &.link-clear {
        text-decoration: none;
      }
    }
    .iconfont {
      font-size: 1.4*$unit;
    }
  }
</style>
