<template>
  <div>
    <div id="help-info">
      <!--<a @click.prevent="helpExtension = true">插件</a>-->
      <a @click.prevent="helpShow = true">教程</a>
      <a @click.prevent="helpContact = true">反馈</a>
    </div>
    <div class="help-tutorial help-extension clearfix" :class="[helpExtension ? 'active' : '']">
      <div class="wrap" v-if="helpExtension">
        <h2 class="title">书签栏工具</h2>
        <p class="des">
          借助书签栏工具，无需收藏插件，即可快速创建资源。<br>
          <strong>添加方式：</strong>直接拖动以下书签工具到书签栏，添加成功以后可以重命名。
        </p>
        <p class="info">
          <a class="btn btn-ghost btn-primary" href="javascript:void(window.open('http://deepso.io?utm_source=bookmark'));">&#x272a; 新资源</a> <span>点击快速添加网页为资源</span><br>
        </p>
        <p class="info">
          <a class="btn btn-ghost btn-primary"><i class="iconfont">&#xe615;</i> 新合辑</a> <span>点击快速添加网页为合辑</span>
        </p>
        <span class="close" @click.prevent="helpExtension = false">
          <i class="iconfont">&#xe7ca;</i>
        </span>
      </div>
    </div>
    <div class="help-tutorial help-contact clearfix" :class="[helpContact ? 'active' : '']">
      <div class="wrap" v-if="helpContact">
        <h2 class="title">通过以下方式找到我们</h2>
        <p class="info">
          <span><i class="iconfont">
            &#xe608;</i> 邮件</span>:
          <a target="_blank" href="mailto:info@btway.cc" class="link"> <span> info@btway.cc</span><br></a>
        </p>
        <p class="info">
          <span><i class="iconfont">
            &#xe60c;</i> 微博</span>:
          <a target="_blank" href="http://weibo.com/u/6123218403" class="link"><span>@即搜DEEPSO</span></a>
        </p>
        <p class="info">
          <span><i class="iconfont">
            &#xe61e;</i> 博客</span>:
          <a target="_blank" href="http://blog.deepso.io/" class="link"> <span>每天分享搜索技巧</span></a>
        </p>
        <p class="info">
          <span><i class="iconfont">&#xe7f9;</i> 客服</span>:
          <a href="https://static.meiqia.com/dist/standalone.html?eid=49185" target="_blank"
             class="link">美洽在线客服</a>
        </p>
        <span class="close" @click.prevent="helpContact = false">
          <i class="iconfont">&#xe7ca;</i>
        </span>
      </div>
    </div>
    <div class="help-tutorial clearfix" :class="[helpShow ? 'active' : '']">
      <div class="wrap" v-if="helpShow">
        <div class="sideNav">
          <ul class="list">
            <li class="item" v-for="tip in tips">
              <a href="" v-on:click.prevent="changeTip(tip)"
                 :class="{active: currentTip === tip.slug}">{{tip.title}}</a>
            </li>
          </ul>
        </div>
        <div class="content" v-for="tip in tips" v-if="currentTip === tip.slug">
          <p class="des" v-html="tip.desc">
          </p>
          <video autoplay controls>
            <source :src="tip.video"
                    type="video/mp4">
            您的浏览器暂时不支持视频播放标签
          </video>
        </div>
        <span class="close" @click.prevent="helpShow = false">
          <i class="iconfont">&#xe7ca;</i>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HelpInfo',
    data () {
      return {
        helpExtension: false,
        helpContact: false,
        helpShow: false,
        currentTip: 'action-search',
        tips: [
          {
            title: '1. 常规搜索',
            slug: 'action-search',
            desc: '选择一个<strong>资源</strong>，输入关键字然后按回车键或者点击搜索按钮。',
            video: '//omwqcseka.qnssl.com/job_cdn/videos/action-search.mp4'
          },
          {
            title: '2. 多个源搜索',
            slug: 'actions-search',
            desc: '选择多个<strong>资源</strong>，输入关键字然后按回车键或者点击搜索按钮即可；再次点击已选择的资源或者点击X即可取消选择资源。',
            video: '//omwqcseka.qnssl.com/job_cdn/videos/actions-search.mp4'
          },
          {
            title: '3. 使用合集搜索',
            slug: 'combo-search',
            desc: '选择一个<strong>合集</strong>，输入关键字然后按回车键或者点击搜索按钮。<strong>每次只能使用一个合集进行搜索</strong>。',
            video: '//omwqcseka.qnssl.com/job_cdn/videos/combo-search.mp4'
          },
          {
            title: '4. 发现更多资源',
            slug: 'discover-sources',
            desc: '点击顶部导航栏<strong>资源库</strong>，首页分类导航的<strong>更多分类</strong>，首页底部的<strong>发现更多</strong>则可以发现更多资源。',
            video: '//omwqcseka.qnssl.com/job_cdn/videos/discover-sources.mp4'
          },
          {
            title: '5. 收藏其它资源',
            slug: 'install-sources',
            desc: '收藏资源需要先<strong>注册登陆</strong>，然后点击<strong>收藏</strong>，即可在<strong>首页的默认</strong>看到已经收藏的资源。',
            video: '//omwqcseka.qnssl.com/job_cdn/videos/install-sources.mp4'
          },
          {
            title: '6. 如何卸载资源',
            slug: 'uninstall-resources',
            desc: '<strong>登陆账号</strong>后，点击顶部导航栏的<strong>管理</strong>，即可对<strong>使用中</strong>的资源和合集进行卸载。',
            video: '//omwqcseka.qnssl.com/job_cdn/videos/uninstall-sources.mp4'
          },
          {
            title: '7. 如何创建资源',
            slug: 'create-action',
            desc: '<strong>登陆账号</strong>后，点击顶部导航栏的<strong>管理</strong>，在<strong>我创建</strong>中选择<strong>资源</strong>，点击<strong>新Z建资源</strong>按钮即可进入收藏页面。',
            video: '//omwqcseka.qnssl.com/job_cdn/videos/create-action.mp4'
          },
          {
            title: '8. 如何创建合集',
            slug: 'create-combo',
            desc: '<strong>登陆账号</strong>后，点击顶部导航栏的<strong>管理</strong>，在<strong>我创建</strong>中选择<strong>合集</strong>，点击<strong>新Z建合集</strong>按钮即可进入收藏页面。',
            video: '//omwqcseka.qnssl.com/job_cdn/videos/create-combo.mp4'
          }
        ]
      }
    },
    methods: {
      changeTip (tip) {
        this.currentTip = tip.slug
      }
    }
  }
</script>
<style lang="scss">
  $primary: #19A6FF;
  $unit: 10px;

  #help-info {
    position: fixed;
    bottom: 5*$unit;
    left: 0;
    background: #fff;
    border-left: 0 none;
    border-top-right-radius: .2*$unit;
    border-bottom-right-radius: .2*$unit;
    box-shadow: 0 1px 10px #d6d6d6;
    a {
      display: block;
      padding: .8*$unit 0;
      margin: 0 .5*$unit 0 .7*$unit;
      font-size: 1.2*$unit;
      width: 1.4*$unit;
      cursor: pointer;
      color: #2F4460;
      line-height: 1.5*$unit;
      &:hover {
        color: #19A6FF;
      }
      & + a {
        border-top: 1px solid #ddd;
      }
    }
  }

  .help-tutorial {
    width: 72*$unit;
    height: 38*$unit;
    position: fixed;
    padding: 2*$unit;
    bottom: 5*$unit;
    left: 0;
    background: #fff;
    border-top-right-radius: .4*$unit;
    border-bottom-right-radius: .4*$unit;
    /*border: 1px solid #DFDFDF;*/
    box-shadow: 1px 0 20px #e4e4e4;
    transform: translateX(-150%);
    transition: .3s all ease;
    &.help-extension {
      width: 52*$unit;
      height: 28*$unit;
    }
    &.help-contact {
      width: 30*$unit;
      height: 24*$unit;
    }
    &.active {
      transform: translateX(0);
    }
    .wrap {
      position: relative;
    }
    .close {
      display: block;
      padding: .5*$unit;
      position: absolute;
      top: -1.5*$unit;
      right: -1.5*$unit;
      cursor: pointer;
      font-size: 1.2*$unit;
      color: #19A6FF;
      .iconfont {
        font-size: 1.2*$unit;
        color: #19A6FF;
      }
    }
    .sideNav {
      padding-right: 1*$unit;
      width: 25%;
      float: left;
      border-right: 1px dotted #DFDFDF;
      height: 300px;
      overflow: hidden;
      overflow-y: scroll;
    }
    .title {
      color: #768BA7;
      font-weight: bold;
      font-size: 1.6*$unit;
    }
    .link {
      color: $primary;
    }
    .info {
      margin: 2*$unit 0;
      font-size: 1.4*$unit;
      color: #768BA7;
      .iconfont {
        font-size: 1.6*$unit;
      }
    }
    .des {
      margin: 1*$unit 0;
      font-size: 1.4*$unit;
      color: #768BA7;
      strong {
        font-weight: bold;
      }
    }
    .content {
      padding: 0 2*$unit;
      width: 75%;
      float: left;
      video {
        width: 100%;
      }
    }
  }
</style>
