<template>
  <div class="mask apps-pick home-pick">
    <div class="center-wrap">
      <div class="center-vertical">
        <div class="popover">
          <div class="head">
            选择资源/合辑添加到首页
          </div>
          <div class="content">
            <!--<div class="search-wrap mb10">-->
            <!--<form>-->
            <!--<input type="text" class="input" placeholder="搜索关键字">-->
            <!--</form>-->
            <!--</div>-->
            <div class="apps-list">
              <div class="cats">
                <div class="sideNav">
                  <ul class="list catalogs">
                    <li class="item" v-for="(catalog, index) in catalogs" @click="changeCatalog(catalog, index)">
                      <a :class="{active: currentCatalogSlug === catalog.slug}">{{catalog.title}}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="content">
                <ul class="tabs">
                  <li class="item" @click="type = 'actions'">
                    <a :class="{active: type === 'actions'}">显示资源</a>
                  </li>
                  <li class="item" @click="type = 'combos'">
                    <a :class="{active: type === 'combos'}">显示集合</a>
                  </li>
                </ul>
                <div v-if="loading">加载中</div>
                <div v-else>
                  <ul class="apps clearfix" v-if="currentCatalogSlug !== ''">
                    <li v-for="action in sources[currentCatalogSlug][type]">
                      <item :source="action" type="actions" from="homePicker"></item>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="foot clearfix">
            <div class="act fr mb20 mt20">
              <button @click="close" class="btn btn-link btn-lg">返回</button>
              <button @click="save" class="btn btn-primary btn-lg">保存</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Gallery from 'api/gallery'
  import Catalogs from 'api/gallery/catalogs'
  import Item from 'components/Source'

  export default {
    name: 'HomePicker',
    components: { Item },
    data () {
      return {
        type: 'actions',
        catalogs: [],
        roles: [],
        loading: false,
        sources: {},
        keyword: '',
        pagination: {},
        params: {
          keyword: '',
          page: 1
        },
        currentCatalogSlug: ''
      }
    },
    computed: {
      isAuth () {
        return this.$store.getters.isAuth
      },
      combos () {
        return this.currentCatalogSlug === '' ? [] : this.sources[this.currentCatalogSlug].combos
      },
      actions () {
        return this.currentCatalogSlug === '' ? [] : this.sources[this.currentCatalogSlug].actions
      }
    },
    beforeMount () {
      const vm = this
      if (this.isAuth) {
        Catalogs.getAll().then(({ catalogs, roles }) => {
          vm.catalogs = catalogs
          vm.roles = roles
          vm.currentCatalogSlug = catalogs[0].slug
          vm.fetch(catalogs[0])
        })
      }
    },
    methods: {
      fetch (catalog) {
        const vm = this
        this.loading = true
        this.sources[catalog.slug] = {
          actions: [],
          combos: []
        }
        Promise.all([Gallery.getByCatId('actions', catalog.id), Gallery.getByCatId('combos', catalog.id)]).then(([{ data: { data: actions } }, { data: { data: combos } }]) => {
          vm.sources[catalog.slug].actions = actions
          vm.sources[catalog.slug].combos = combos
          vm.currentCatalogSlug = catalog.slug
          vm.loading = false
        })
      },
      save () {
        window.location.reload()
      },
      close () {
        this.$store.dispatch('updateComponent', {
          name: 'homePicker',
          data: false
        })
      },
      changeCatalog (catalog) {
        if (!this.sources[catalog.slug]) {
          this.fetch(catalog)
        } else {
          this.currentCatalogSlug = catalog.slug
        }
      }
    }
  }
</script>

<style lang="scss">
  $unit: 10px;

  .home-pick {
    .center-wrap {
      .popover {
        display: block !important;
        .content {
          overflow: auto;
        }
      }
    }
    .apps-list {
      .cats {
        float: left;
        width: 33%;
        margin: 1*$unit 0;
        padding: 0 1*$unit;
        border-right: 1px dotted #ddd;
        cursor: pointer;
        height: 470px;
        overflow: hidden;
        li {
          float: none;
          width: 100%;
        }
      }
      .content {
        float: left;
        width: 66%;
        padding: 1*$unit;
        height: 470px;
        overflow: hidden;
        overflow-y: scroll;
        .tabs {
          margin: 0 .5*$unit 1*$unit;
        }
        .apps {
          li {
            width: 50%;
          }
        }
      }
    }
  }
</style>
