<template>
  <div class="mask icon-picker">
    <div class="center-wrap">
      <div class="center-vertical">
        <div class="popover">
          <div class="head">
            选择图标

            <div class="fr select-top" style="width: 200px;">
              <div class="select-wrap">
                <select class="select" v-model="iconType" @change="iconChange">
                  <option value="logos">公司标识</option>
                  <option value="daily">日用图标</option>
                  <option value="alphabet">字母图标</option>
                </select>
                <span class="dropdown">
                  <i class="iconfont">&#xe64a;</i>
                </span>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="search-wrap">
              <form>
                <input type="text" class="input" placeholder="搜索关键字" v-model="keyword">
                <button class="btn btn-link"><i class="iconfont">&#xe600;</i></button>
              </form>
            </div>
            <div class="pure-g icon-list mt10">
              <div class="pure-u-1-8" v-for="(icon, $index) in filterIcons" @click="selectIcon(icon)">
                <input type="radio" class="icon-check" :id="'icon' + $index" name="icon">
                <label :for="'icon' + $index" value="123">
                  <div class="icon-wrap">
                    <i :class="icon.class"></i>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="foot clearfix">
            <div class="colors pure-g">
              <div class="pure-u-1-8">
                <button class="btn btn-link btn-dark">颜色:</button>
              </div>
              <div class="pure-u-7-8">
                <div class="pure-g">
                  <div class="pure-u-1-8 color" v-for="(color, $index) in colors" @click="selectColor(color)">
                    <input type="radio" name="color" :id="'color' + $index">
                    <label :for="'color' + $index">
                      <div class="fill" :style="'background-color: ' + color + ';'"></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="act fr">
              <button class="btn btn-link btn-lg" @click="close">取消并返回</button>
              <button class="btn btn-primary btn-lg" @click="save">确认并保存</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { logos, daily, alphabet } from 'src/icons'

  const colors = ['#ED4156', '#4990E2', '#32BF9F', '#F8E81C', '#F6A623', '#C964DB', '#ED9BA3', '#4A4A4A']
  export default {
    name: 'icon-picker',
    data () {
      return {
        colors,
        icons: logos,
        iconType: 'logos',
        keyword: ''
      }
    },
    computed: {
      filterIcons () {
        const vm = this
        if (this.keyword !== '') {
          return this.icons.filter(icon => icon.slug.indexOf(vm.keyword) > -1)
        }
        return this.icons
      }
    },
    methods: {
      selectIcon (icon) {
        this.icon = icon.class
      },
      selectColor (color) {
        this.color = color
      },
      iconChange () {
        if (this.iconType === 'logos') {
          this.icons = logos
        } else if (this.iconType === 'daily') {
          this.icons = daily
        } else {
          this.icons = alphabet
        }
      },
      close () {
        this.$router.app.$emit('close-icon-picker')
      },
      save () {
        this.$router.app.$emit('submit-icon-picker', this.icon, this.color)
      }
    }
  }
</script>

<style lang="scss">
  .icon-picker {

    .head {
      position: relative;
    }

    .select-top {
      position: absolute;
      top: 12px;
      right: 12px;
    }

  }
</style>
