<template>
  <div class="loader-view">
    <i class="iconfont">&#xe6a8;</i>
    <div class="des">
      <!--<p>插入内容</p>-->
      <!--<a href="" class="btn btn-ghost btn-primary btn-sm">-->
      <!--提示操作-->
      <!--</a>-->
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'loader-view'
  }
</script>

<style lang="scss">
  $primary: #19A6FF;
  $body: #768BA7;
  $unit: 10px;

  .loader-view {
    color: $body;
    text-align: center;
    .iconfont {
      display: inline-block;
      -webkit-animation: spin 2s infinite;
      -moz-animation: spin 2s infinite;
      -ms-animation: spin 2s infinite;
      -o-animation: spin 2s infinite;
      animation: spin 2s infinite;
      width: 4.9*$unit;
      height: 5.4*$unit;
      font-size: 5*$unit;
    }
    .des {
      p {
        font-size: 1.8*$unit;
        font-weight: bold;
        margin: 2*$unit 0;
      }
    }
  }
</style>
