<template>
  <div id="nav" class="clearfix">
    <div class="fl">
      <router-link to="/" class="logo-wrap">
        <img src="https://omwqcseka.qnssl.com/cdn/images/nav-logo.png" class="logo">
      </router-link>
    </div>
    <div class="fr action">
      <router-link to="/" class="nav-link" v-if="$route.name !== 'home'">
        <i class="iconfont">&#xe600;</i> 返回搜索

      </router-link>
      <div class="nav-link notice badge">
        <span @click.prevent="notification = !notification"><i class="iconfont">&#xe618;</i> 专题</span>
        <div class="list" v-show="notification">
          <div class="wrap">
            <ul>
              <li>
                <a href="http://blog.deepso.io/2017/03/24/how-to-download-movies-2017/" target="_blank"
                   @click="notification = false">【专题】2017找片指南</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a class="nav-link" @click.prevent="showExtension">
        <i class="iconfont">&#xe6a6;</i> 插件
      </a>
      <router-link to="/gallery/tags/hot/actions" class="nav-link">
        <i class="iconfont">&#xe623;</i> {{$t('global.gallery')}}

      </router-link>
      <!--<router-link to="/users/gallery/own/actions/create" class="nav-link"-->
      <!--v-show="isAuth">-->
      <!--<i class="iconfont">&#xe610;</i> {{$t('global.manage')}}-->
      <!--</router-link>-->
      <a @click.prevent="dropdown = !dropdown" class="nav-link" v-show="isAuth">
        <i class="iconfont">&#xe610;</i> {{$t('global.manage')}}
      </a>
      <div class="drop-down" v-show="dropdown">
        <div class="sideNav">
          <ul class="list">
            <li class="item" @click="dropdown = false">
              <router-link to="/users/gallery/own/actions/create"><i class="iconfont">
                &#xe609;</i> 资源

              </router-link>
            </li>
            <li class="item" @click="dropdown = false">
              <router-link to="/users/gallery/own/combos/create"><i class="iconfont">
                &#xe615;</i> 合辑

              </router-link>
            </li>
            <li class="item" @click="dropdown = false">
              <router-link to="/users/gallery/own/actions"><i class="iconfont">
                &#xe615;</i> 管理

              </router-link>
            </li>
          </ul>
        </div>
      </div>
      <a @click.prevent="toggleAuthPopup(true, 'nav-login-btn')" class="nav-link" v-show="!isAuth">
        <i class="iconfont">&#xe7f9;</i> 帐号登录
      </a>
      <router-link to="/users/account" v-show="isAuth">
        <img class="avatar" src="//omwqcseka.qnssl.com/cdn/images/avatar.png">
      </router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'nav',
    data () {
      return {
        dropdown: false,
        extensions: false,
        notification: false
      }
    },
    computed: {
      isAuth () {
        return this.$store.getters.isAuth
      }
    },
    methods: {
      showExtension () {
        this.$store.dispatch('updateComponent', { name: 'extension', data: true })
        this.$trackr.track('visit', {
          name: 'extension'
        })
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  #nav {

    .drop-down {
      right: 60px;
      top: 60px;
      width: 150px;
    }

  }
</style>
