<template>
  <ul class="pagination mb30" v-show="pagination.total_pages > 1">
    <li v-for="page in pagination.total_pages" @click="changePage(page)">
      <a class="btn btn-ghost btn-primary btn-sm" :class="{active: pagination.current_page === page}">{{page}}</a>
    </li>
  </ul>
</template>
<script>
  export default {
    name: 'pagination',
    props: ['pagination'],
    methods: {
      changePage (page) {
        this.$router.app.$emit('changePage', page)
      }
    }
  }
</script>
