<template>
  <div class="source-items">
    <section class="actions" v-if="actions.length > 0">
      <h2 class="title">
        <i class="iconfont tips" v-show="!selected.length &&!firstSearch && !isAuth">&#xe6b7;</i>
        <span><i class="iconfont">&#xe609;</i> {{$t('global.action')}}</span>
        <div class="popclip">
          <span class="info">
          <i class="iconfont">&#xe62c;</i>
        </span>
          <div class="des">
            <div class="wrap">
              <span class="question">什么是资源? </span>
              一个资源就是一个能提供搜索的网站，譬如淘宝就是一个提供商品搜索的资源。

            </div>
          </div>
        </div>
      </h2>
      <div class="pure-g" v-show="actions.length < 1">
        <div class="pure-u-1-1">
          <p class="empty-tags"><i class="iconfont">&#xe61d;</i> 当前没有{{$t('global.action')}},

            <router-link to="gallery">去商店下载</router-link>
          </p>
        </div>
      </div>
      <div class="pure-g" v-if="actions.length > 0">
        <div class="pure-u-8-8">
          <button class="btn btn-tag btn-action" :class="{active: isSelected(action) > -1}"
                  v-for="(action, index) in sortedActions"
                  v-on:click="select(action, 'action')" :title="action.desc">{{action.title}}
            <span class="delete" v-if="editMode" @click="removeAction(action.id, index)"><i
            class="iconfont">&#xe7ca;</i></span>
          </button>
          <button @click="addSource('actions')" v-if="currentTab === 'default'" class="btn btn-tag btn-dash"
                  title="快速添加">+ 添加

          </button>
        </div>
      </div>
    </section>
    <section class="combos" v-if="combos.length > 0">
      <h2 class="title">
        <i class="iconfont tips" v-show="!selected.length && !firstSearch && !isAuth">&#xe6b7;</i>
        <span><i class="iconfont">&#xe615;</i> {{$t('global.combo')}}</span>
        <div class="popclip">
        <span class="info">
          <i class="iconfont">&#xe62c;</i>
        </span>
          <div class="des">
            <div class="wrap">
              <span class="question">什么是合集? </span>
              合集就是把多个资源打包在一起的合集。譬如你可以把几个不同的书籍搜索源整理成一个专门搜索书籍的合集。

            </div>
          </div>
        </div>
      </h2>
      <div class="pure-g" v-show="combos.length < 1">
        <div class="pure-u-1-1">
          <p class="empty-tags"><i class="iconfont">&#xe61d;</i> 当前没有{{$t('global.combo')}},

            <router-link to="gallery">去商店下载</router-link>
          </p>
        </div>
      </div>
      <div class="pure-g" v-if="combos.length > 0">
        <div class="pure-u-8-8">
          <button class="btn btn-tag btn-combo" :class="{active: isSelected(combo) > -1}"
                  v-for="(combo, index) in sortedCombos"
                  v-on:click="select(combo, 'combo')" :title="combo.desc">
            {{combo.title}} <span class="delete" v-if="editMode" @click="removeCombo(combo.id, index)"><i
            class="iconfont">&#xe7ca;</i></span>
          </button>
          <button @click="addSource('combos')" v-if="currentTab === 'default'" class="btn btn-tag btn-dash"
                  title="快速添加">+ 添加

          </button>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import Actions from 'api/actions'
  import Combos from 'api/combos'
  import db from 'src/db'

  export default {
    name: 'source-items',
    props: ['actions', 'combos', 'selected', 'editMode', 'currentTab'],
    computed: {
      sortedActions () {
        return this.actions.sort((a, b) => parseInt(a.sort, 2) - parseInt(b.sort, 2))
      },
      sortedCombos () {
        return this.combos.sort((a, b) => parseInt(a.sort, 2) - parseInt(b.sort, 2))
      },
      isAuth () {
        return this.$store.getters.isAuth
      },
      firstSearch () {
        return db.get('first-search')
      }
    },
    methods: {
      isSelected (source) {
        return this.selected.indexOf(source)
      },
      select (source, type) {
        if (this.editMode) return
        this.$router.app.$emit('select', type, source)
        if (document.getElementById('scrollForm')) {
          document.getElementById('scrollForm').scrollLeft = 10000
        }
      },
      removeAction (id) {
        const vm = this
        Actions.follow.remove(id).then(() => {
          vm.actions.forEach((action, index) => {
            if (action.id === id) {
              vm.actions.splice(index, 1)
            }
          })
        })
      },
      removeCombo (id) {
        const vm = this
        Combos.follow.remove(id).then(() => {
          vm.combos.forEach((combo, index) => {
            if (combo.id === id) {
              vm.combos.splice(index, 1)
            }
          })
        })
      },
      addSource () {
        if (this.isAuth) {
          this.$store.dispatch('updateComponent', {
            name: 'homePicker',
            data: true
          })
        } else {
          this.toggleAuthPopup(true, 'home-add-btn')
        }
      }
    }
  }
</script>
