<template>
  <div id="source-panel">
    <p v-if="loading">加载中...</p>
    <div v-else>
      <ul class="tabs" style="margin: 20px 10px 30px;">
        <li class="item">
          <a href="" :class="{active: currentTab === 'default'}" @click.prevent="changeTab('default')">收藏</a>
        </li>
        <li class="item" v-for="catalog in catalogs">
          <a href="" :class="{active: currentTab === catalog.slug}" @click.prevent="changeTab(catalog)">{{catalog.title}}</a>
        </li>
        <li class="item">
          <form action="" v-on:submit.prevent="search" class="source-filter-form">
            <i class="iconfont">&#xe600;</i><input class="input" type="text" v-model="sourceFilter" placeholder="搜索更多">
          </form>
        </li>
        <!--<li class="item">-->
        <!--<router-link to="gallery/tags/hot">-->
        <!--发现更多-->
        <!--</router-link>-->
        <!--</li>-->
      </ul>
      <loader v-if="fetching">
        <p>正在为你加载资源...</p>
      </loader>
      <ul v-else>
        <li v-for="(source, tab) in sources" v-show="currentTab === tab">
          <source-items :actions="source.actions" :combos="source.combos" :selected="selected" :editMode="editMode"
                        :currentTab="currentTab"></source-items>
        </li>
      </ul>
      <p class="mt20 tc" v-if="currentTab === 'default'">
        <a class="btn btn-link btn-primary" v-if="isAuth" @click="editMode = !editMode">
          <span v-if="editMode"><i class="iconfont" style="font-size: 16px;">&#xe607;</i> 完成</span>
          <span v-else><i class="iconfont" style="font-size: 16px;">&#xe607;</i> 编辑</span>
        </a>
        <a class="btn btn-link btn-primary" v-else @click.prevent="toggleAuthPopup(true, 'home-modify-btn')">
          <i class="iconfont" style="font-size: 16px;">&#xe607;</i> 自定义首页
        </a>
      </p>
    </div>
  </div>
</template>
<script>
  import SourceItems from 'components/SourceItems'
  import Catalogs from 'api/gallery/catalogs'
  import Gallery from 'api/gallery'
  import Users from 'api/users'
  import Loader from 'components/Loader'

  export default {
    name: 'source-panel',
    props: ['selected'],
    components: { SourceItems, Loader },
    computed: {
      isAuth () {
        return this.$store.getters.isAuth
      }
    },
    data () {
      return {
        loading: true,
        fetching: false,
        sourceFilter: '',
        sources: {
          default: {
            actions: [],
            combos: []
          },
          search: {
            actions: [],
            combos: []
          }
        },
        currentTab: 'default',
        catalogs: [],
        editMode: false
      }
    },
    beforeMount () {
      const vm = this
      const getDefaultSources = this.isAuth ? Users.fetchPack : Gallery.fetchPack
      Promise.all([
        getDefaultSources(),
        Catalogs.getType({
          display_index: 1,
          order_by: 'sort'
        }, 'main')
      ]).then(([{ actions, combos }, { data: { data: catalogs } }]) => {
        vm.catalogs = catalogs
        vm.sources.default.actions = actions
        vm.sources.default.combos = combos
        if (combos.length > 0) {
          vm.$router.app.$emit('select', 'combo', combos[Math.floor(Math.random() * (combos.length))])
        }
        vm.loading = false
      })
    },
    methods: {
      changeTab (catalog) {
        const vm = this
        if (catalog === 'default') {
          this.currentTab = 'default'
        } else if (this.sources[catalog.slug]) {
          this.currentTab = catalog.slug
        } else {
          vm.currentTab = catalog.slug
          vm.fetching = true
          vm.sources[catalog.slug] = {
            actions: [],
            combos: []
          }
          Promise.all([Gallery.getByCatId('actions', catalog.id), Gallery.getByCatId('combos', catalog.id)]).then(([{ data: { data: actions } }, { data: { data: combos } }]) => {
            vm.sources[catalog.slug].actions = actions.splice(0, 12)
            vm.sources[catalog.slug].combos = combos.splice(0, 12)
            vm.fetching = false
          })
        }
      },
      search () {
        this.fetching = true
        this.currentTab = 'search'
        const vm = this
        Promise.all([Gallery.getByKeyword('actions', this.sourceFilter), Gallery.getByKeyword('combos', this.sourceFilter)]).then(([{ data: { data: actions } }, { data: { data: combos } }]) => {
          vm.sources.search.actions = actions.splice(0, 12)
          vm.sources.search.combos = combos.splice(0, 12)
          vm.fetching = false
          vm.$trackr.track('source-search', {
            from: 'home'
          })
        })
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  $primary: #19A6FF;
  $danger: #ED4156;
  $gray: #9B9B9B;
  $lightgray: #F3F3F3;
  $dark: #2F4460;
  $bright: #BFCBDB;
  $body: #768BA7;
  $border: #DFDFDF;
  $success: #32BF9F;
  $unit: 10px;

  .source-filter-form {
    display: inline-block;
    input {
      width: 100px;
      border: none;
      color: $dark;
    }
    i {
      color: #999;
    }
  }

  .empty-tags {
    margin: 2*$unit 0;
    text-align: center;
    font-size: 1.4*$unit;
    color: $body;
    .iconfont {
      font-size: 1.4*$unit;
    }
    a {
      color: $primary;
      cursor: pointer;
      text-decoration: underline;
    }
  }
</style>
