<template>
  <div class="app app-action">
    <router-link :to="'/gallery/' + type + '/' + source.id" class="pure-g">
      <div class="pure-u-1-3">
        <div class="icon">
          <i :style="{color: source.color}" :class="source.icon"></i>
        </div>
      </div>
      <div class="pure-u-2-3">
        <div class="info" :title="source.desc">
          <p class="name">{{source.title}}</p>
          <p class="des">{{source.desc}}</p>
        </div>
      </div>
    </router-link>
    <div class="action pure-g">
      <div class="pure-u-1-2">
        <a v-if="current_installed"><i class="iconfont">&#xe617;</i> 已收藏</a>
        <a v-else @click.prevent="install(source.id)"><i class="iconfont">&#xe612;</i> 收藏</a>
      </div>
      <div class="pure-u-1-2">
        <a @click.prevent="preview"><i class="iconfont">&#xe600;</i> 试试</a>
      </div>
    </div>
  </div>
</template>
<script>
  import Combos from 'api/combos'
  import Actions from 'api/actions'

  export default {
    name: 'Source',
    props: ['source', 'type', 'from'],
    data () {
      return {
        current_installed: false
      }
    },
    computed: {
      isAuth () {
        return this.$store.getters.isAuth
      }
    },
    mounted () {
      this.current_installed = this.source.current_installed
    },
    methods: {
      install (id) {
        if (this.isAuth) {
          const vm = this
          const Link = this.source.actions ? Combos.follow : Actions.follow
          Link.create(id).then(() => {
            vm.current_installed = true
            vm.$trackr.track('install-finished', {
              from: vm.from
            })
          })
        } else {
          this.toggleAuthPopup(true, this.from)
        }
      },
      preview () {
        const query = {
          type: this.source.actions ? 'combos' : 'actions',
          keyword: this.source.placeholder ? this.source.placeholder : 'iphone',
          sources: this.source.id
        }
        this.goSearch(query)
      }
    }
  }
</script>
