<template>
  <div class="sideNav mb30 pr">
    <button class="btn btn-primary btn-full mb20" @click.prevent="dropdown = !dropdown"><i class="iconfont">&#xe60b;</i>
      新建
    </button>
    <div class="drop-down" v-show="dropdown">
      <ul class="list">
        <li class="item">
          <router-link to="/users/gallery/own/actions/create"><i class="iconfont">&#xe609;</i> 资源</router-link>
        </li>
        <li class="item">
          <router-link to="/users/gallery/own/combos/create"><i class="iconfont">&#xe615;</i> 合辑</router-link>
        </li>
      </ul>
    </div>
    <p class="title">{{$t('global.manage')}}</p>
    <ul class="list">
      <li class="item">
        <router-link to="/users/gallery/follow" :class="{active: currentRoute === 'follow'}">我的收藏</router-link>
      </li>
      <li class="item">
        <router-link to="/users/gallery/own" :class="{active: currentRoute === 'own'}">我的创建</router-link>
      </li>
    </ul>
  </div>
</template>
<script>
  export default {
    name: 'user-gallery-nav',
    data () {
      return {
        dropdown: false
      }
    },
    computed: {
      currentRoute () {
        return this.$route.path.indexOf('follow') > -1 ? 'follow' : 'own'
      }
    }
  }
</script>
