<template>
  <div class="actions-item-view user-action">
    <head-nav class="nav-dark"></head-nav>
    <div class="main-grid pure-g" v-if="loaded">
      <ul class="breadcrumb">
        <li>
          <router-link to="/gallery/tags/hot">商店</router-link>
          <i class="iconfont">&#xe6a9;</i>
        </li>
        <li>
          <router-link :to="'/gallery/catalogs/' + combo.catalog.id">{{combo.catalog.title}}</router-link>
          <i class="iconfont">&#xe6a9;</i>
        </li>
      </ul>
      <div class="grid-left pure-u-1-4">
        <div class="intro">
          <div class="avatar" :style="{'background-color': combo.color}">
            <i :class="combo.icon"></i>
          </div>
          <button class="btn btn-link btn-primary btn-lg mt10" v-if="combo.custom">
            <i class="iconfont">&#xe617;</i> 已收藏
          </button>
          <button class="btn btn-link btn-primary btn-lg mt10" @click="install" v-else>
            <i class="iconfont">&#xe603;</i> 收藏
          </button>
          <ul class="basic">
            <li>属性: {{$t('global.combo')}}</li>
            <li>作者: {{combo.owner.name}}</li>
            <li>更新: {{combo.updated_at.date.split(' ')[0]}}</li>
            <li>下载: {{combo.install_count}}次</li>
          </ul>
        </div>
      </div>
      <div class="grid-right pure-u-3-4">
        <div class="info">
          <h1 class="page-subtitle"><i class="iconfont">&#xe615;</i> {{combo.title}}</h1>
          <p class="des">
            {{combo.desc}}
          </p>
          <section>
            <ul class="apps">
              <li v-for="action in combo.actions">
                <router-link :to="'/gallery/actions/' + action.id" class="app">
                  <div class="pure-g">
                    <div class="pure-u-1-3">
                      <div class="icon">
                        <i :class="action.icon" :style="{color: action.color}"></i>
                      </div>
                    </div>
                    <div class="pure-u-2-3">
                      <div class="info">
                        <p class="name">{{action.title}}</p>
                        <p class="des">{{action.desc}}</p>
                      </div>
                    </div>
                  </div>
                </router-link>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-alert */

  import HeadNav from 'components/Nav'
  import Gallery from 'api/gallery'
  import Combos from 'api/combos'

  export default {
    name: 'combos-item-view',
    components: { HeadNav },
    data () {
      return {
        combo: {},
        loaded: false
      }
    },
    computed: {
      isAuth () {
        return this.$store.getters.isAuth
      }
    },
    beforeMount () {
      this.fetch()
    },
    watch: {
      $route () {
        this.fetch()
      }
    },
    methods: {
      fetch () {
        const vm = this
        Gallery.getById('combos', this.$route.params.combo_id).then(({ data: { data: combo } }) => {
          vm.combo = combo
          vm.loaded = true
        })
      },
      install () {
        if (this.isAuth) {
          Combos.follow.create(this.combo.id).then(() => {
            window.alert('收藏成功')
            window.location.reload()
          })
        } else {
          window.alert('请登录账号后收藏！')
          window.localStorage.setItem('deepso-redirect-url', this.$route.path)
          this.$router.push('/auth/login')
        }
      }
    }
  }
</script>

<style lang="scss">
  $primary: #19A6FF;
  $dark: #2F4460;
  $border: #DFDFDF;
  $body: #768BA7;
  $unit: 10px;

  .actions-item-view {
    .breadcrumb {
      display: block;
      width: 100%;
      margin: 2*$unit 0;
    }
    .intro {
      text-align: center;
      .btn {
        font-weight: bold;
        .iconfont {
          font-size: 1.8*$unit;
          font-weight: normal;
        }
      }
      .basic {
        text-align: left;
        li {
          padding: 1*$unit;
          font-size: 1.4*$unit;
          color: $body;
          border-bottom: 1px solid $border;
        }
      }
      .avatar {
        width: 15*$unit;
        height: 15*$unit;
        margin: 0 auto;
        background: $dark;
        text-align: center;
        .iconfont {
          font-size: 8*$unit;
          line-height: 16*$unit;
          color: #fff;
        }
      }
    }
    .grid-right > .info {
      & > .des {
        margin: 2*$unit 0;
        color: $body;
        font-size: 1.6*$unit;
        line-height: 170%;
      }
      section {
        margin: 1*$unit 0;
        .title {
          font-size: 1.6*$unit;
          color: $dark;
          margin-bottom: 1*$unit;
        }
      }
    }
  }
</style>
