<template>
  <div id="app">
    <transition name="fade">
      <router-view class="view"></router-view>
    </transition>
    <help-info></help-info>
    <foot-nav></foot-nav>
    <auth-popover v-if="showAuthPopup"></auth-popover>
    <extensions :class="{active: showExtension}"></extensions>
  </div>
</template>

<script>
  import FootNav from 'components/FootNav'
  import HelpInfo from 'components/HelpInfo'
  import AuthPopover from 'components/AuthPopover'
  import Extensions from 'components/Extensions'

  export default {
    name: 'app',
    components: { FootNav, HelpInfo, AuthPopover, Extensions },
    computed: {
      showAuthPopup () {
        return this.$store.getters.components.authPopup
      },
      showExtension () {
        return this.$store.getters.components.extension
      }
    },
    preFetch (store) {
      return store.dispatch('init')
    },
    beforeMount () {
      const vm = this

      // 初始化 mixpanel
      return this.$trackr.init(() => {
        // 初始化 http authorization
        vm.$store.dispatch('init').then(() => {
          let user = {}
          if (vm.$store.getters.isAuth) {
            user = vm.$store.getters.userinfo
          }
          // 初始化用户
          vm.$trackr.identify(user)
          vm.$trackr.pageView(vm.$route)

          document.body.style.display = 'block'
        })
      })
    }
  }
</script>

<style lang="scss">
  $primary: #19A6FF;
  $danger: #ED4156;
  $gray: #9B9B9B;
  $lightgray: #F3F3F3;
  $dark: #2F4460;
  $bright: #BFCBDB;
  $body: #768BA7;
  $border: #DFDFDF;
  $success: #32BF9F;
  $deep: #007ee5;
  $unit: 10px;

  html, body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
  }

  @font-face {
    font-family: 'iconfont';  /* project id 222251 */
    src: url('//at.alicdn.com/t/font_8mjrxuos6w53ik9.eot');
    src: url('//at.alicdn.com/t/font_8mjrxuos6w53ik9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_8mjrxuos6w53ik9.woff') format('woff'),
    url('//at.alicdn.com/t/font_8mjrxuos6w53ik9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_8mjrxuos6w53ik9.svg#iconfont') format('svg');
  }

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 10px;
    font-style: normal;
    font-weight: normal !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }

  .ds_logo {
    font-family: "ds_logo" !important;
    font-size: 10px;
    font-style: normal;
    font-weight: normal !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    width: 100%;
    height: 100%;
    & > .view {
      width: 100%;
      min-height: 100%;
      padding-bottom: 3*$unit;
    }
  }

  .btn {
    display: inline-block;
    padding: 1*$unit 2*$unit;
    font-size: 1.4*$unit;
    color: $gray;
    background: $lightgray;
    border: 0 none;
    border-radius: .2*$unit;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    &.btn-full {
      width: 100%;
    }
    &:disabled {
      opacity: .5;
      cursor: no-drop;
    }
    .iconfont {
      font-size: 1.4*$unit;
    }
    &.btn-ghost {
      border: 1px solid $gray;
      background: white;
    }
    &.btn-tag {
      border: 1px solid $border;
      color: $dark;
      background: white;
      font-size: 1.2*$unit;
      font-weight: bold;
      padding: .8*$unit 2.5*$unit;
      margin: .8*$unit 1*$unit;
      position: relative;
      .delete {
        position: absolute;
        background: $danger;
        color: #fff;
        display: inline-block;
        width: 1.4*$unit;
        height: 1.4*$unit;
        right: -.6*$unit;
        top: -.6*$unit;
        border-radius: 100%;
        line-height: 1.4*$unit;
        .iconfont {
          font-size: 1.0*$unit;
        }
      }
      &.btn-action.active {
        border-color: $primary;
        color: $primary;
      }
      &.btn-combo.active {
        border-color: #007ee5;
        color: #1066ad;
      }
      &.btn-dash {
        border: 1px dashed darken($border, 10%);
        color: lighten($dark, 30%);
      }
    }
    &.btn-primary {
      background: $primary;
      color: white;
      &.btn-ghost {
        border: 1px solid $primary;
        background: white;
        color: $primary;
      }
      &.btn-link {
        color: $primary;
      }
    }
    &.btn-danger {
      background: $danger;
      color: white;
      &.btn-ghost {
        border: 1px solid $danger;
        background: white;
        color: $danger;
        .iconfont {
          color: $danger;
        }
      }
      &.btn-link {
        color: $danger;
      }
    }
    &.btn-success {
      background: $success;
      color: white;
      &.btn-ghost {
        border: 1px solid $success;
        background: white;
        color: $success;
        .iconfont {
          color: $success;
        }
      }
      &.btn-link {
        color: $success;
      }
    }
    &.btn-dark {
      background: $dark;
      color: white;
      &.btn-ghost {
        border: 1px solid $dark;
        background: white;
        color: $dark;
      }
      &.btn-link {
        color: $dark;
      }
    }
    &.btn-sm {
      font-size: 1.2*$unit;
      padding: .5*$unit 1.5*$unit;
      border-radius: .4*$unit;
      .iconfont {
        font-size: 1.4*$unit;
      }
    }
    &.btn-lg {
      font-size: 1.6*$unit;
      padding: 1.5*$unit 3*$unit;
    }
    &.btn-link {
      background: none;
      border: 0 none;
    }
    &.btn-new {
      border: 2px dashed $border;
    }
  }

  .btn-act {
    display: inline-block;
    background: $lightgray;
    color: $gray;
    border: 1px solid $gray;
    border-radius: .2*$unit;
    padding: 0;
    .content {
      display: inline-block;
      padding: .5*$unit 1*$unit;
      font-size: 1.2*$unit;
      border-right: 1px solid $gray;
      font-weight: bold;
      line-height: 1.4;
    }
    .act {
      padding: .5*$unit .6*$unit;
      font-size: 1.2*$unit;
      cursor: pointer;
    }
    &.btn-primary {
      border-color: $primary;
      background: $primary;
      color: white;
      .content {
        border-color: rgba(255, 255, 255, .4);
      }
    }
    &.btn-deep {
      border-color: $deep;
      background: $deep;
      color: white;
      .content {
        border-color: #399ddc;
      }
    }
    &.btn-edit {
      border-color: $border;
      background: #fff;
      color: $body;
      .iconfont {
        color: $primary;
      }
      .content {
        padding: .6*$unit 1.1*$unit;
        border-color: $border;
      }
    }
  }

  .sideNav {
    .title {
      font-size: 1.8*$unit;
      font-weight: bold;
      color: $dark;
    }
    .list {
      font-size: 1.4*$unit;
      li {
        margin: .5*$unit 0;
      }
      a {
        display: block;
        /*width: 13.5*$unit;*/
        padding: .5*$unit 1*$unit;
        color: $body;
        &.active {
          background: lighten($border, 10%);
          color: $primary;
          border-radius: .2*$unit;
          &:hover {
            background: lighten($border, 10%);
            color: $primary;
            border-radius: .2*$unit;
          }
        }
        &:hover {
          background: lighten($border, 10%);
          border-radius: .2*$unit;
        }
      }
    }
    .drop-down {
      top: 4.5*$unit;
    }
  }

  .tabs {
    display: block;
    border-bottom: 2px solid #DCE9F2;
    .item {
      display: inline-block;
      font-size: 1.4*$unit;
      font-weight: bold;
      cursor: pointer;
      & + .item {
        margin-left: 3.7*$unit;
      }
      a {
        display: inline-block;
        color: $body;
        padding: 1*$unit 0;
        transition: .3s all ease;
        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary;
          position: relative;
          &:after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: $primary;
            bottom: -.2*$unit;
          }
        }
      }
    }
  }

  .apps {
    li {
      display: inline-block;
      margin: 1*$unit;
    }
  }

  .ds_app {
    width: 190px;
    position: relative;
    border: 1px solid $border;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    .iconfont.act {
      position: absolute;
      top: -8px;
      right: -8px;
      font-size: 16px;
      background: #fff;
      color: $primary;
      border-radius: 100%;
    }
    .iconfont.checked {
      display: none;
    }
    .iconfont.delete {
      color: $danger;
    }
    &.selected {
      border-color: $primary;
      .iconfont.checked {
        display: block;
        color: $primary;
      }
    }
    .content {
      padding: 10px;
      h3 {
        font-size: 14px;
        font-weight: bold;
        color: $dark;
        margin-bottom: 5px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .favicon {
        margin-right: 3px;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        vertical-align: middle;
      }
      .des {
        font-size: 12px;
        color: $body;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 34px;
      }
      .srcs {
        margin-top: 5px;
        font-size: 12px;
        color: $body;
        line-height: 1.5;
        color: $primary;
        .favicon {
          width: 14px;
          height: 14px;
        }
      }
    }
    .action {
      border-top: 1px solid $border;
      font-size: 12px;
      text-align: center;
      .iconfont {
        font-size: 12px;
      }
      a {
        display: block;
        padding: 8px;
        color: $body;
        border-right: 1px solid $border;
      }
      & > div:last-child {
        a {
          border-right: 0 none;
        }
      }
    }
  }

  .app {
    width: 19*$unit;
    height: 8.6*$unit;
    border: 1px solid $border;
    background: #fff;
    border-radius: .4*$unit;
    cursor: pointer;
    display: block;
    &.app-action {
      height: auto;
      .action {
        border-top: 1px solid $border;
        font-size: 1.2*$unit;
        text-align: center;
        .iconfont {
          font-size: 1.2*$unit;
        }
        a {
          display: block;
          padding: .8*$unit;
          color: $body;
          border-right: 1px solid $border;
        }
        & > div:last-child {
          a {
            border-right: 0 none;
          }
        }
      }
    }
    &.editable {
      position: relative;
      .delete {
        position: absolute;
        right: -.6*$unit;
        top: -.6*$unit;
        .iconfont {
          color: $danger;
          font-size: 1.6*$unit;
        }
      }
    }
    .icon {
      padding: 1.2*$unit 1.2*$unit;
      i {
        font-size: 3.4*$unit;
      }
    }
    .info {
      padding: 1.2*$unit 1.2*$unit 1.2*$unit 0;
      .name {
        font-size: 1.4*$unit;
        font-weight: bold;
        color: $dark;
        line-height: 1.6;
      }
      .des {
        font-size: 1.2*$unit;
        color: $body;
      }
      .name {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .des {
        height: 3.6*$unit;
        overflow: hidden;
      }
    }
  }

  .breadcrumb {
    & > li {
      display: inline-block;
      font-size: 1.6*$unit;
      &:last-child {
        .iconfont {
          display: none;
        }
      }
      a {
        color: $primary;
        font-weight: bold;
      }
      .iconfont {
        color: $border;
        vertical-align: middle;
        font-size: 1.4*$unit;
      }
      &.tips {
        .iconfont {
          display: inline-block;
          color: $primary;
        }
      }
    }
  }

  .page-title {
    font-size: 2.4*$unit;
    font-weight: bold;
    color: $dark;
    .iconfont {
      font-size: 2.4*$unit;
      font-weight: normal;
      color: $primary;
    }
  }

  .page-subtitle {
    font-size: 1.8*$unit;
    font-weight: bold;
    color: $dark;
    .iconfont {
      font-size: 1.8*$unit;
      font-weight: normal;
      color: $primary;
    }
  }

  .list-grid {
    border: 1px solid $border;
    border-radius: .4*$unit;
    li {
      padding: 1*$unit;
      border-bottom: 1px solid $border;
      &:last-child {
        border-bottom: 0 none;
      }
    }
  }

  .app-list-item {
    .badge {
      display: inline-block;
      width: 3.5*$unit;
      font-size: 2.4*$unit;
      color: $primary;
    }
    .favicon {
      padding: 5px 0;
    }
    .title {
      font-size: 1.4*$unit;
      font-weight: bold;
      color: $dark;
      margin: 0 .5*$unit;
      padding: 5px 0;
      display: inline-block;
      width: 10*$unit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .des {
      font-size: 1.4*$unit;
      color: $body;
      display: inline-block;
      width: 25*$unit;
      padding: 5px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .input {
    -webkit-appearance: none;
    border: 1px solid $border;
    padding: 1*$unit;
    border-radius: .4*$unit;
    outline: none;
    font-size: 1.4*$unit;
    width: 100%;
    &:disabled {
      background: #f7f7f7;
      cursor: no-drop;
      color: #929292;
    }
  }

  .select {
    -webkit-appearance: none;
    border: 1px solid $border;
    padding: 1*$unit;
    border-radius: .4*$unit;
    outline: none;
    font-size: 1.4*$unit;
    width: 100%;
    background: #fff;
  }

  .form {
    .add-params {
      margin-left: 1.2*$unit;
      font-size: 1.6*$unit;
      .iconfont {
        font-size: 1.8*$unit;
      }
    }
    .sheet {
      margin-bottom: 2*$unit;
      border: 1px solid $border;
      padding: 2*$unit;
      border-radius: .4*$unit;
      background: #F1F1F1;
    }
    .params-form {
      margin-left: 4*$unit;
      border-left: 1px solid $primary;
      .params {
        margin: 1*$unit 0;
      }
      .info {
        padding-top: 1*$unit;
        color: $body;
        font-size: 1.4*$unit;
      }
      .dash {
        margin: 1.8*$unit .2*$unit;
        height: 1px;
        background: $primary;
      }
      .fieldset {
        padding-right: .5*$unit;
      }
    }
    .head {
      .title {
        font-size: 1.8*$unit;
        font-weight: bold;
        color: $dark;
      }
      .status {
        float: right;
        font-size: 1.4*$unit;
        color: $primary;
        vertical-align: middle;
        cursor: pointer;
      }
    }
    .row {
      margin: 1*$unit -0.5*$unit;
    }
    .item {
      padding: 0 .5*$unit;
      label {
        font-size: 1.4*$unit;
        color: $body;
        display: inline-block;
        margin-bottom: .5*$unit;
      }
    }
  }

  .checkbox-wrap {
    padding: 1*$unit 0;
    cursor: pointer;
    font-size: 1.4*$unit;
    color: $primary;
    label {
      cursor: pointer;
    }
    input[type=checkbox], input[type=radio] {
      display: none;
    }
    .icons {
      display: inline-block;
      .iconfont {
        font-size: 1.6*$unit;
      }
      .uncheck {
        display: inline;
      }
      .check {
        display: none;
      }
    }
    input:checked + label .icons {
      .uncheck {
        display: none;
      }
      .check {
        display: inline;
      }
    }
  }

  .select-wrap {
    position: relative;
    .dropdown {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      padding: 1*$unit;
      font-size: 1.4*$unit;
    }
  }

  table {
    border: 1px solid $border;
    width: 100%;
    border-radius: .4*$unit;
    text-align: center;
    th {
      font-size: 1.4*$unit;
      font-weight: bold;
      color: $primary;
      text-align: center;
    }
    th, td {
      border: 1px solid $border;
      padding: 1*$unit;
    }
    td {
      font-size: 1.4*$unit;
      color: $body;
    }
  }

  .mask {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    &.mask-light {
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .center-wrap {
    width: 100%;
    height: 100%;
    display: table;
    .center-vertical {
      display: table-cell;
      vertical-align: middle;
    }
    .popover {
      display: block !important;
      width: 800px;
      margin: 0 auto;
      background: #fff;
      border-radius: .4*$unit;
      &.popover-sm {
        width: 320px;
        height: auto;
        .content {
          padding: 1*$unit;
          height: auto;
          overflow: auto;
        }
        .foot {
          margin: 0;
          padding: 1*$unit;
        }
      }
      &.popover-md {
        width: 480px;
        height: auto;
        .content {
          padding: 1*$unit;
          height: auto;
          overflow: auto;
        }
        .foot {
          margin: 0;
          padding: 1*$unit;
        }
      }
      .head {
        font-size: 1.8*$unit;
        font-weight: bold;
        padding: 2*$unit;
        text-align: center;
        color: $dark;
        border-bottom: 1px solid $border;
      }
      .content {
        height: 350px;
        overflow: hidden;
        overflow-y: scroll;
      }
      .foot {
        padding: 0 2*$unit;
      }
    }
  }

  .avatar {
    border-radius: 100%;
  }

  #nav {
    .action {
      margin-right: 10px;
    }
    .nav-link.badge {
      position: relative;
      &.notice {
        .list {
          position: absolute;
          width: 260px;
          padding: 0 2rem;
          left: -80px;
          top: 50px;
          border-radius: 2px;
          box-shadow: 0 0 15px rgba(29, 29, 29, 0.06);
          background: #fff;
          z-index: 9999;
          .wrap {
            position: relative;
          }
          .wrap:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            left: 50%;
            margin-left: -10px;
            top: -5px;
          }
          li:last-child {
            a {
              border-bottom: 0 none;
            }
          }
          a {
            display: block;
            color: $body;
            padding: 15px 0;
            border-bottom: 1px dotted $border;
            &:hover {
              color: $primary;
            }
          }
        }
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 10px;
        top: 15px;
        border-radius: 100%;
        background: $danger;
      }
    }
    .logo-wrap {
      display: inline-block;
      padding: 18px 20px;
    }
    &.nav-dark {
      .nav-link {
        color: #fff;
      }
    }
    .nav-link {
      padding: 18px 15px;
      color: $dark;
      font-size: 1.4rem;
      display: inline-block;
      font-weight: bold;
      cursor: pointer;
      transition: .3s all ease;
      &:hover {
        color: lighten($dark, 20%);
      }
      .iconfont {
        font-size: 1.5rem;
      }
    }
    .logo {
      width: 77px;
    }
    .avatar {
      width: 2.8*$unit;
      height: 2.8*$unit;
      vertical-align: middle;
      margin: 0 .5*$unit;
    }
    .btn {
      font-weight: bold;
      margin: 0 1*$unit;
      padding: .8*$unit 1.5*$unit;
      .iconfont {
        font-weight: normal;
      }
    }
    &.nav-dark {
      background: #2E4460;
      background: -webkit-linear-gradient(left, #2E4460, #202541);
      background: -o-linear-gradient(right, #2E4460, #202541);
      background: -moz-linear-gradient(right, #2E4460, #202541);
      background: linear-gradient(to right, #2E4460, #202541);
      .btn {
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .search-wrap {
    position: relative;
    .input {
      padding: .8*$unit;
      font-size: 1.4*$unit;
    }
    .btn {
      position: absolute;
      right: 0;
      top: 0;
      padding: .8*$unit 2*$unit;
    }
  }

  .main-grid {
    width: 960px;
    margin: 0 auto;
    .sideNav {
      margin-left: 2*$unit;
    }
  }

  .grid-left {
    padding: 0 2*$unit;
  }

  .grid-right {
    padding: 0 2*$unit;
  }

  .iconfont.loading {
    display: inline-block;
    -webkit-animation: spin 2s infinite;
    -moz-animation: spin 2s infinite;
    -ms-animation: spin 2s infinite;
    -o-animation: spin 2s infinite;
    animation: spin 2s infinite;
    width: 1.6*$unit;
    height: 1.3*$unit;
    margin-right: .5*$unit;
  }

  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .pagination {
    text-align: right;
    li {
      display: inline-block;
      & + li {
        margin-left: .5*$unit;
      }
      .btn {
        padding: .5*$unit 1*$unit;
        &.active {
          background: $primary;
          color: #fff;
        }
      }
    }
  }

  .status-hold {
    color: $primary;
  }

  .status-reject {
    color: $danger;
  }

  .status-active {
    color: $success;
  }

  .popclip {
    display: inline-block;
    position: relative;
    cursor: pointer;
    &:hover {
      .des {
        display: block;
      }
    }
    .info {
      color: $border;
    }
    .des {
      display: none;
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      padding: 1*$unit;
      width: 20*$unit;
      color: #fff;
      border-radius: .5*$unit;
      font-size: 1.2*$unit;
      bottom: 3*$unit;
      left: -9.5*$unit;
      .wrap {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -1.5*$unit;
          margin-left: -3px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  .ds-dialog {
    background: #19A6FF;
    background: -webkit-linear-gradient(top, #6CC4FE, #19A6FF);
    background: -o-linear-gradient(bottom, #6CC4FE, #19A6FF);
    background: -moz-linear-gradient(bottom, #6CC4FE, #19A6FF);
    background: linear-gradient(to bottom, #6CC4FE, #19A6FF);
    width: 37.5*$unit;
    height: 31.5*$unit;
    margin: 0 auto;
    border-radius: .4*$unit;
    .des {
      padding: 4*$unit 3*$unit;
      color: #fff;
      font-size: 1.8*$unit;
      font-weight: bold;
      line-height: 180%;
      background: url('https://omwqcseka.qnssl.com/cdn/images/dialog-bg.png') no-repeat;
    }
    .actions {
      padding: 0 3*$unit;
    }
    .btn-dialog {
      -webkit-appearance: none;
      display: block;
      width: 70%;
      margin: 0 auto;
      padding: 1.5*$unit 2*$unit;
      font-size: 1.6*$unit;
      border: 0 none;
      border-radius: .4*$unit;
      cursor: pointer;
      outline: none;
      & + .btn-dialog {
        margin-top: 2*$unit;
      }
      &.btn-positive {
        background: #fff;
        color: $primary;
      }
      &.btn-negative {
        background: transparent;
        color: #fff;
      }
      .iconfont {
        font-size: 1.8*$unit;
      }
    }
  }

  #notice {
    background: #fff;
    width: 280px;
    position: fixed;
    top: 1*$unit;
    left: 50%;
    margin-left: -140px;
    font-size: 1.2*$unit;
    color: $dark;
    padding: 1*$unit;
    border-radius: .4*$unit;
    transition: .3s all ease;
    transform: translateY(-200%);
    box-shadow: 0 2px 10px #eaeaea;
    &.active {
      transform: translateY(0);
    }
    .wrap {
      position: relative;
    }
    span {
      display: inline-block;
    }
    .close {
      position: absolute;
      top: -.2*$unit;
      right: -.6*$unit;
      color: $dark;
      .iconfont {
        color: $dark;
      }
    }
    .star {
      /*color: #F8E81C;*/
    }
  }

  .drop-down {
    width: 100%;
    padding: 1*$unit;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: .2*$unit;
    position: absolute;
    li {
      cursor: pointer;
    }
  }

  @media(max-width: 414px) {
    body.BODY-FOR-MEIQIA {
      margin-bottom: 0 !important;
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */
  {
    opacity: 0
  }
</style>
