<template>
  <div id="auth">
    <img src="https://omwqcseka.qnssl.com/cdn/images/auth-cover.png" class="cover">
    <h1 class="title">
      忘记密码
      <!--<router-link to="/auth/login" class="link">-->
      <!--返回登录-->
      <!--</router-link>-->
    </h1>
    <form action="">
      <input type="text" v-model="email" class="input" placeholder="请输入登录邮箱" :class="{error: $v.email.$error}"
             @input="$v.email.$touch()">
      <button class="btn btn-primary" type="submit" @click.prevent="submit" :disabled="$v.$invalid">重置密码</button>
    </form>
  </div>
</template>
<script>
  /* eslint-disable no-alert */

  import { required, email } from 'vuelidate/lib/validators'
  import Auth from 'api/auth'

  export default {
    name: 'auth-forget',
    data () {
      return {
        email: ''
      }
    },
    validations: {
      email: {
        required,
        email
      }
    },
    methods: {
      submit () {
        Auth.reset(this.email).then(() => {
          window.alert('充值密码邮件已经发到您邮箱，请查看！')
        })
      }
    }
  }
</script>
