<template>
  <div id="auth-view">
    <div id="nav" class="clearfix">
      <div class="fr">
        <router-link to="/" class="btn btn-link btn-dark">
          <i class="iconfont">&#xe600;</i> 返回搜索
        </router-link>
        <!--<router-link to="/gallery/tags/hot" class="btn btn-link btn-dark">-->
          <!--<i class="iconfont">&#xe74f;</i> {{$t('global.gallery')}}-->
        <!--</router-link>-->
      </div>
    </div>
    <router-view></router-view>
  </div>
</template>
<script>
  export default {
    name: 'auth'
  }
</script>
