<template>
  <div id="auth">
    <!--<img src="https://omwqcseka.qnssl.com/cdn/images/auth-cover.png" class="cover">-->
    <h1 class="title">
      帐号登录
      <!--<router-link to="/auth/register" class="link">-->
      <!--注册帐号-->
      <!--</router-link>-->
    </h1>
    <form action="">
      <input type="text" v-model="email" class="input" placeholder="登录邮箱" :class="{error: $v.email.$error}"
             @input="$v.email.$touch()">
      <input type="password" v-model="password" class="input" placeholder="登录密码" :class="{error: $v.password.$error}"
             @input="$v.password.$touch()">
      <button class="btn btn-primary" v-on:click.prevent="login" :disabled="$v.$invalid || loginProcess">
        <span v-show="!loginProcess">
          登录
        </span>
        <span v-show="loginProcess">
          <i class="iconfont loading">&#xe6a8;</i> 处理中...
        </span>
      </button>
    </form>
    <div class="act">
      <!--<router-link to="/auth/forget" class="link">忘记密码</router-link>-->
      <a href="/auth/forget" target="_blank" class="link">忘记密码</a>
    </div>
  </div>
</template>
<script>
  /* eslint-disable no-alert */

  import { required, email } from 'vuelidate/lib/validators'
  import Auth from 'api/auth'
  import Empty from 'components/Empty'

  export default {
    name: 'auth-login',
    data () {
      return {
        email: '',
        password: '',
        loginProcess: false
      }
    },
    validations: {
      email: {
        required,
        email
      },
      password: {
        required
      }
    },
    components: { Empty },
    methods: {
      login () {
        const vm = this
        vm.loginProcess = true
        Auth.login(this.email, this.password).then(({ data }) => {
          vm.$store.dispatch('login', data).then(() => {
            vm.$trackr.identify(vm.$store.getters.userinfo)
            // 获取package
            vm.$store.dispatch('init').then(() => {
              vm.loginProcess = false
              const redirectUrl = window.localStorage.getItem('deepso-redirect-url')
              vm.$trackr.track('login', {}, () => {
                if (redirectUrl) {
                  window.localStorage.removeItem('deepso-redirect-url')
                  window.location.href = redirectUrl
                } else {
                  window.location.href = '/'
                }
              })
            })
          })
        }).catch(() => {
          alert('登录出错，请重试')
          window.location.reload()
        })
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  $primary: #19A6FF;
  $dark: #2F4460;
  $body: #768BA7;
  $unit: 10px;

  #auth {
    width: 340px;
    margin: 10*$unit auto;
    &.register {
      margin-top: 7*$unit;
    }
    .cover {
      width: 100%;
    }
    .title {
      font-size: 1.6*$unit;
      color: $dark;
      font-weight: bold;
      margin: 2*$unit 0;
      .link {
        font-size: 1.4*$unit;
        float: right;
      }
    }
    .input + .input {
      margin-top: 2*$unit;
    }
    .input + .btn {
      margin-top: 2*$unit;
    }
    .btn {
      width: 100%;
    }
    .link {
      color: $primary;
      text-decoration: underline;
    }
    .act {
      margin-top: 2*$unit;
      text-align: center;
      .link {
        color: $body;
        font-size: 1.4*$unit;
      }
    }
    .tips {
      margin: 1*$unit 0;
      font-size: 1.2*$unit;
      color: $body;
      text-align: right;
    }
  }
</style>
