<template>
  <h1>logout</h1>
</template>
<script>
  export default {
    name: 'auth-logout',
    beforeMount () {
      this.$store.dispatch('logout').then(() => {
        window.location.href = '/'
      })
    }
  }
</script>
