<template>
  <div id="auth">
    <!--<img src="https://omwqcseka.qnssl.com/cdn/images/auth-cover.png" class="cover">-->
    <h1 class="title">
      帐号注册
      <!--<router-link to="/auth/login" class="link">-->
      <!--已有帐号?点击登录-->
      <!--</router-link>-->
    </h1>
    <form action="">
      <input type="text" v-model="name" class="input" placeholder="昵称" :class="{error: $v.name.$error}"
             @input="$v.name.$touch()">
      <input type="text" v-model="email" class="input" placeholder="登录邮箱" :class="{error: $v.email.$error}"
             @input="$v.email.$touch()">
      <input type="password" v-model="password" class="input" placeholder="登录密码" :class="{error: $v.password.$error}"
             @input="$v.password.$touch()">
      <button v-on:click.prevent="register" class="btn btn-primary mt10" :disabled="$v.$invalid || registerProcess">
        <span v-show="!registerProcess">
          注册
        </span>
        <span v-show="registerProcess">
          <i class="iconfont loading">&#xe6a8;</i> 处理中...
        </span>
      </button>
    </form>
  </div>
</template>
<script>
  /* eslint-disable no-alert */

  import { required, email } from 'vuelidate/lib/validators'
  import Auth from 'api/auth'

  export default {
    name: 'auth-register',
    data () {
      return {
        name: '',
        email: '',
        password: '',
        registerProcess: false
      }
    },
    validations: {
      name: {
        required
      },
      email: {
        required,
        email
      },
      password: {
        required
      }
    },
    methods: {
      register () {
        const vm = this
        vm.registerProcess = true
        Auth.register({
          name: vm.name,
          email: vm.email,
          password: vm.password,
          password_confirmation: vm.password
        }).then(({ data }) => {
          vm.$store.dispatch('login', data).then(() => {
            vm.$trackr.alias(vm.$store.getters.userinfo)
            vm.$trackr.profile({
              email: vm.email,
              name: vm.name
            })
            vm.$store.dispatch('init').then(() => {
              window.alert('注册成功！')
              vm.registerProcess = false
              vm.$trackr.track('register', {}, () => {
                window.location.href = '/'
              })
            })
          })
        }).catch((error) => {
          if (error.data && error.data.errors) {
            const errors = error.data.errors
            Object.keys(errors).forEach((key) => {
              if (Object.hasOwnProperty.call(errors, key)) {
                vm.registerProcess = false
                window.alert(errors.key)
              }
            })
          }
        })
      }
    }
  }
</script>
