<template>
  <div class="search-view">
    <div id="ds-nav">
      <div class="wrap">
        <div class="static">
          <a href="https://deepso.io" class="logo">
            <i class="iconfont">&#xe605;</i>
          </a>
          <div class="search-wrap">
            <form v-on:submit.prevent="changeKeyword">
              <input type="text" class="input" placeholder="搜索关键字" v-model="keyword">
              <button class="btn btn-link"><i class="iconfont">&#xe600;</i></button>
            </form>
          </div>
        </div>
        <div class="scroll">
          <ul class="search-tabs">
            <li :class="{active: currentSource === source}" v-for="source in sources" v-on:click="changeSource(source)">
              <a>{{source.title}}</a>
            </li>
          </ul>
        </div>
        <div class="actions">
          <a class="link" v-show="type === 'actions'" title="合并资源为合辑" @click.prevent="createCombo"><i class="iconfont">
            &#xe615;</i></a>

          <span v-if="type === 'combos' || sources.length < 2">
            <a class="link" title="已收藏" v-if="isInstalled"><i class="iconfont">
            &#xe614;</i></a>
          <a class="link" title="收藏" v-else @click.prevent="install"><i class="iconfont">
            &#xe613;</i></a>
          </span>

          <a class="link" title="分享结果给好友" @click.prevent="shareBlock = true"><i class="iconfont">&#xe65b;</i></a>
        </div>
        <div class="share" :class="[ shareBlock ? 'active': '' ]">
          <div class="content">
            <strong>复制以下短链接分享即可</strong>
            <input type="text" disabled :value="shortUrl" class="input">
            <span class="close" @click.prevent="shareBlock = false"><i class="iconfont">&#xe7ca;</i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="iframes">
      <div class="spinner" v-show="loading && currentSource.target === 'frame'">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
      <div class="wrap" v-show="source === currentSource" v-for="source in sources">
        <transition name="fade">
          <iframe :id="source.id" v-on:load="onIframeLoaded"
                  sandbox="allow-same-origin allow-scripts allow-popups allow-forms" :src="getSourceUrl(source)"
                  frameborder="0" v-if="source.target === 'frame' && activated(source)"></iframe>
          <div class="empty-frame" v-else>
            <i class="iconfont">&#xe61d;</i>
            <div class="des mt20">
              <p><strong style="font-weight: bold;">{{currentSource.title}}</strong> 暂不支持内嵌显示</p>
              <p class="mt10">请 <a :href="getSourceUrl(source)" target="_blank">点击此链接</a> 跳转</p>
            </div>
          </div>
        </transition>
      </div>
    </div>
    <div id="footer" class="search-footer" v-show="$route.path.indexOf('search') > 0">
      该搜索页面来源于 <a :href="currentSource.url.replace('[keyword]', '')" class="link" target="_blank">{{currentSource.title}}</a>，版权归原网站所有，<span
      class="contact">如有侵权请立即和我们联系。</span> | <a :href="getSourceUrl(currentSource)" target="_blank"
                                                class="link">页面打不开？</a>
    </div>
  </div>
</template>

<script>
  import { buildUrl } from 'src/utils'
  import Gallery from 'api/gallery'
  import Combos from 'api/combos'
  import Actions from 'api/actions'

  export default {
    name: 'search-view',
    data () {
      return {
        type: 'actions',
        activatedSources: [],
        shareBlock: false,
        currentSource: {
          url: '[keyword]'
        },
        shortUrl: '',
        combo: {},
        sources: [],
        keyword: '',
        loading: true,
        isInstalled: false,
        originTitle: ''
      }
    },
    computed: {
      isAuth () {
        return this.$store.getters.isAuth
      }
    },
    beforeMount () {
      const vm = this
      const query = vm.$route.query
      this.originTitle = document.title
      if (window.location.protocol === 'https:') {
        window.location.href = window.location.href.replace('https', 'http')
      }
      const key = 'b6186a02c96abdcfcf755f3bd4aabc'
      const longUrl = encodeURIComponent(window.location.href)
      const shortUrlReq = `https://s.btway.cc/api/v2/action/shorten?key=${key}&url=${longUrl}`
      this.axios.get(shortUrlReq).then(({ data: url }) => {
        vm.shortUrl = url
      })
      this.type = query.type
      if (vm.$route.query.sources.indexOf(',') > -1) {
        const actionIds = vm.$route.query.sources.split(',')
        Gallery.getAll('actions', { action_ids: actionIds }).then(({ data: { data: actions } }) => {
          actionIds.forEach((id) => {
            actions.forEach((action) => {
              if (id.toString() === action.id.toString()) {
                vm.sources.push(action)
              }
            })
          })
          vm.keyword = vm.$route.query.keyword
          vm.currentSource = vm.sources[0]
          vm.activatedSources.push(vm.sources[0])
          vm.isInstalled = vm.sources[0].custom
          vm.setTitle()
          vm.$forceUpdate()
        })
      } else {
        Gallery.getById(query.type, query.sources).then(({ data: { data: item } }) => {
          let sources;
          if (vm.$route.query.type === 'actions') {
            sources = [item]
          } else {
            vm.combo = item
            sources = item.actions.sort((a, b) => parseInt(a.sort, 2) > parseInt(b.sort, 2))
          }
          vm.keyword = vm.$route.query.keyword
          vm.sources = sources
          vm.currentSource = sources[0]
          vm.activatedSources.push(sources[0])
          vm.isInstalled = vm.type === 'combos' ? vm.combo.custom : vm.sources[0].custom
          vm.setTitle()
          vm.$forceUpdate()
        })
      }
    },
    methods: {
      setTitle () {
        const sourceTitle = this.currentSource.title
        const comboTitle = this.combo.title
        const name = this.type === 'combos' ? `${comboTitle}` : sourceTitle
        document.title = `${name} - ${this.keyword} | Deepso 搜索结果`
      },
      activated (source) {
        return this.activatedSources.indexOf(source) > -1
      },
      getSourceUrl (source) {
        return source.url.replace('[keyword]', this.keyword)
      },
      changeSource (source) {
        this.currentSource = source
        this.setTitle()
        if (!this.activated(source)) {
          this.loading = true
          this.activatedSources.push(source)
        }
        if (source.target !== 'frame') {
          window.open(this.getSourceUrl(source))
        }
      },
      changeKeyword () {
        const url = `${window.location.protocol}//${window.location.host}/search`
        const query = this.$route.query
        query.keyword = this.keyword
        const trackData = {
          from: 'search',
          keyword: this.keyword,
          type: this.$route.query.type
        }
        if (this.$route.query.type === 'combos') {
          trackData.source_name = this.combo.title
        }
        this.$trackr.track('search', trackData)
        const newUrl = buildUrl(url, query)
        window.location.replace(newUrl)
      },
      createCombo () {
        if (this.isAuth) {
          const url = `${window.location.protocol}//${window.location.host}/users/gallery/own/combos/create/${this.$route.query.sources}`
          window.open(url)
        } else {
          this.toggleAuthPopup(true, 'search-combo-btn')
        }
      },
      onIframeLoaded () {
        this.loading = false
      },
      install () {
        if (this.isAuth) {
          const vm = this
          const Link = this.type === 'combos' ? Combos.follow : Actions.follow
          const sourceId = this.type === 'combos' ? this.combo.id : this.sources[0].id
          Link.create(sourceId).then(() => {
            vm.$trackr.track('install-finished', {
              from: 'search'
            })
            window.location.reload()
          })
        } else {
          this.toggleAuthPopup(true, 'search-fav-btn')
        }
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  $primary: #19A6FF;
  $danger: #ED4156;
  $gray: #9B9B9B;
  $lightgray: #F3F3F3;
  $dark: #2F4460;
  $bright: #BFCBDB;
  $body: #768BA7;
  $border: #DFDFDF;
  $success: #32BF9F;
  $unit: 10px;

  .spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 40%;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2E4460;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% {
      -webkit-transform: scale(0.0)
    }
    50% {
      -webkit-transform: scale(1.0)
    }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    }
    50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  #ds-nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    .search-wrap .input {
      padding: 5px;
    }
    .wrap {
      position: relative;
      height: 40px;
      background: #2E4460;
    }
    .actions {
      position: absolute;
      right: 0px;
      top: 3px;
      .link {
        display: inline-block;
        padding: 1*$unit 1.5*$unit;
        color: #fff;
        cursor: pointer;
        .iconfont {
          font-size: 1.6*$unit;
        }
      }
    }
    .share {
      padding: 2*$unit;
      position: absolute;
      top: 6*$unit;
      right: 1*$unit;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: .4*$unit;
      transition: .3s all ease;
      transform: translateY(-200%);
      &.active {
        transform: translateY(0%);
      }
      .content {
        position: relative;
        .close {
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
          .iconfont {
            color: #768BA7;
            font-size: 1.4*$unit;
          }
        }
      }
      strong {
        display: inline-block;
        font-size: 1.4*$unit;
        font-weight: bold;
        margin-bottom: 1*$unit;
        color: #2F4460;
      }
    }
    .static {
      position: absolute;
      left: 0;
      top: 0;
      padding: 5px;
    }
    .logo {
      color: #fff;
      .iconfont {
        font-size: 1.4*$unit;
        line-height: 3.2*$unit;
      }
      img {
        width: 7.7*$unit;
        vertical-align: middle;
      }
    }
    .search-wrap {
      width: 100%;
      display: inline-block;
      margin: 0 2*$unit;
      width: 250px;
      .btn {
        padding: 4px 7px;
      }
      input {
        border: 0 none;
        border-radius: .2*$unit;
      }
    }
    .scroll {
      padding-left: 400px;
      width: 100%;
    }
    .search-tabs {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: scroll;
      vertical-align: bottom;
      background: $dark;
      &::-webkit-scrollbar {
        display: none;
      }
      overflow: -moz-scrollbars-none;
      li {
        padding: 10px 20px 7px;
        cursor: pointer;
        display: inline-block;
        font-size: 1.4*$unit;
        color: $body;
        border-bottom: 2px solid #2E4460;
        &.active {
          color: #fff;
          border-bottom: 2px solid #fff;
          position: relative;
        }
        a {
          line-height: 1.5;
        }
      }
    }
  }

  .search-view {
    width: 100%;
    height: 100%;
  }

  .iframes {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    position: relative;
    .wrap {
      width: 100%;
      height: 100%;
      z-index: 2;
      &.unactive {
        z-index: 1;
      }
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .empty-frame {
    padding-top: 20*$unit;
    text-align: center;
    i {
      font-size: 4*$unit;
      color: $body;
    }
    h1 {
      font-size: 2*$unit;
      font-weight: bold;
      color: $body;
      margin: 2*$unit 0;
    }
    p {
      color: $body;
      font-size: 1.6*$unit;
      a {
        color: $primary;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 414px) {
    #app > .view {
      padding-bottom: 3*$unit;
    }
    #ds-nav {
      .static {
        position: relative;
        width: 100%;
        .logo {
          position: absolute;
          width: 8*$unit;
        }
        .search-wrap {
          width: 100%;
          padding-left: 9*$unit;
          margin: 0;
        }
      }
      .share {
        display: none;
      }
      .scroll {
        display: block;
        padding-left: 0;
      }
      .search-tabs {
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
          display: none;
        }
        overflow: -moz-scrollbars-none;
      }
      .actions {
        display: none;
      }
      .search-tabs li {
        padding: .7*$unit 3*$unit .5*$unit;
      }
    }
    .iframes {
      padding-top: 70px;
    }
    #MEIQIA-BTN-HOLDER {
      display: none !important;
    }
    #footer.search-footer {
      margin-top: -.1*$unit;
      .contact {
        display: none;
      }
    }
  }
</style>
