<template>
  <div>
    <div class="act-bar clearfix">
      <div class="fl">
        <div class="select-wrap" style="width: 10rem;">
          <select class="select" name="" id="" v-model="audit_status" v-on:change="changeStatus">
            <option value="all">所有状态</option>
            <option :value="0">未提交</option>
            <option :value="1">已通过</option>
            <option :value="2">待审核</option>
            <option :value="3">被拒绝</option>
          </select>
          <span class="dropdown">
            <i class="iconfont">&#xe64a;</i>
          </span>
        </div>
      </div>
      <div class="fl" style="margin-left: 10px;">
        <form v-on:submit.prevent="fetch">
          <input type="text" class="input" placeholder="关键字搜索" v-model="params.keyword">
        </form>
      </div>
    </div>
    <empty v-show="!actions.length" style="margin-top: 12rem">
      <p>当前页面没有资源</p>
    </empty>
    <ul class="list-grid" v-show="actions.length">
      <li class="app-list-item clearfix" v-for="(action, $index) in actions">
        <i class="badge" :class="action.icon" :style="'color:'+ action.color"></i>
        <!-- <img src="https://www.google.com/s2/favicons?domain=metacritic.com" alt="" class="favicon"> -->
        <span class="title">{{action.title}}</span>
        <span class="des">{{action.desc}}</span>
        <div class="acts fr">
          <button class="btn btn-link btn-sm">
            <span v-if="action.audited === 0">未提交</span>
            <span v-if="action.audited === 2" class="status-hold">待审核</span>
            <span v-if="action.audited === 3" class="status-reject">被拒绝</span>
            <span v-if="action.audited === 1" class="status-active">已通过</span>
          </button>
          <router-link :to="'/users/gallery/own/actions/' + action.id + '/edit'"
                       class="btn btn-link btn-success btn-sm"><i class="iconfont">&#xe74b;</i> 编辑


          </router-link>
          <button @click="remove(action, $index)" class="btn btn-link btn-sm"><i class="iconfont">&#xe640;</i> 删除


          </button>
        </div>
      </li>
    </ul>
    <pagination :pagination="pagination"></pagination>
  </div>
</template>
<script>
  /* eslint-disable no-alert */

  import Actions from 'api/actions'
  import Pagination from 'components/Pagination'
  import Empty from 'components/Empty'

  export default {
    name: 'users-gallery-own-actions',
    components: { Pagination, Empty },
    data () {
      return {
        audit_status: 'all',
        params: {
          page: 1,
          keyword: ''
        },
        actions: [],
        pagination: {}
      }
    },
    beforeMount () {
      this.fetch()
      this.$router.app.$on('changePage', this.changePage)
    },
    methods: {
      fetch () {
        const vm = this
        const params = this.params
        if (this.audit_status !== 'all') {
          params.audit_status = this.audit_status
        } else {
          delete params.audit_status
        }
        Actions.own.getAll(params).then(({ data: { data: actions, meta: { pagination } } }) => {
          vm.actions = actions
          vm.pagination = pagination
        })
      },
      remove (action, index) {
        const vm = this
        if (window.confirm('确定要删除?')) {
          Actions.own.remove(action.id).then(() => {
            vm.actions.splice(index, 1)
          })
        }
      },
      changePage (page) {
        this.params.page = page
        this.fetch()
      },
      changeStatus () {
        this.params.page = 1
        this.fetch()
      }
    }
  }
</script>
