<template>
  <div>
    <div class="act-bar clearfix">
      <div class="fl">
        <div class="select-wrap" style="width: 10rem;">
          <select class="select" name="" id="" v-model="audit_status" v-on:change="changeStatus">
            <option value="all">所有状态</option>
            <option :value="0">未提交</option>
            <option :value="1">已通过</option>
            <option :value="2">待审核</option>
            <option :value="3">被拒绝</option>
          </select>
          <span class="dropdown">
            <i class="iconfont">&#xe64a;</i>
          </span>
        </div>
      </div>
      <div class="fl" style="margin-left: 10px;">
        <form v-on:submit.prevent="fetch">
          <input type="text" class="input" placeholder="关键字搜索" v-model="params.keyword">
        </form>
      </div>
    </div>
    <empty v-show="!combos.length" style="margin-top: 12rem">
      <p>当前页面没有合集</p>
    </empty>
    <ul class="list-grid" v-show="combos.length">
      <li class="app-list-item clearfix" v-for="(combo, $index) in combos">
        <i class="badge" :class="combo.icon" :style="'color:'+ combo.color"></i>
        <span class="title">{{combo.title}}</span>
        <span class="des">{{combo.desc}}</span>
        <div class="acts fr">
          <button class="btn btn-link btn-sm">
            <span v-if="combo.audited === 0">未提交</span>
            <span v-if="combo.audited === 2" class="status-hold">待审核</span>
            <span v-if="combo.audited === 3" class="status-reject">被拒绝</span>
            <span v-if="combo.audited === 1" class="status-active">已通过</span>
          </button>
          <router-link :to="'/users/gallery/own/combos/' + combo.id + '/edit'" class="btn btn-link btn-success btn-sm">
            <i class="iconfont">&#xe74b;</i> 编辑



          </router-link>
          <button @click="remove(combo, $index)" class="btn btn-link btn-sm"><i class="iconfont">&#xe640;</i> 删除



          </button>
        </div>
      </li>
    </ul>
    <pagination :pagination="pagination"></pagination>
  </div>
</template>
<script>
  /* eslint-disable no-alert */

  import Combos from 'api/combos'
  import Pagination from 'components/Pagination'
  import Empty from 'components/Empty'

  export default {
    name: 'users-gallery-own-combos',
    components: { Pagination, Empty },
    data () {
      return {
        audit_status: 'all',
        params: {
          page: 1
        },
        combos: [],
        pagination: {}
      }
    },
    beforeMount () {
      this.fetch()
      this.$router.app.$on('changePage', this.changePage)
    },
    methods: {
      fetch () {
        const vm = this
        const params = this.params
        if (this.audit_status !== 'all') {
          params.audit_status = this.audit_status
        } else {
          delete params.audit_status
        }
        Combos.own.getAll(params).then(({ data: { data: combos, meta: { pagination } } }) => {
          vm.combos = combos
          vm.pagination = pagination
        })
      },
      remove (combo, index) {
        const vm = this
        if (window.confirm('确定要删除?')) {
          Combos.own.remove(combo.id).then(() => {
            vm.combos.splice(index, 1)
          })
        }
      },
      changePage (page) {
        this.params.page = page
        this.fetch()
      },
      changeStatus () {
        this.params.page = 1
        this.fetch()
      }
    }
  }
</script>
