<template>
  <div class="users-account-view">
    <div class="main-grid pure-g">
      <div class="grid-left pure-u-1-4">
        <div class="intro">
          <div class="avatar">
            <img src="//omwqcseka.qnssl.com/cdn/images/avatar.png">
          </div>
          <router-link to="/auth/logout" class="btn btn-link btn-primary btn-lg mt10">
            <i class="iconfont">&#xe666;</i> 登出帐号

          </router-link>
          <!--<button class="btn btn-link btn-primary btn-lg mt10">-->
          <!--<i class="iconfont">&#xe604;</i> 更改头像-->
          <!--</button>-->
        </div>
      </div>
      <div class="grid-right pure-u-3-4">
        <div class="form pb50">
          <form action="">
            <div class="sheet">
              <div class="head">
                <span class="title">帐号设置</span>
                <!--<span class="status"><i class="iconfont">&#xe642;</i> 忘记密码</span>-->
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-1">
                  <div class="item">
                    <label for="">帐号昵称</label>
                    <input disabled type="text" class="input" v-model="user.name">
                  </div>
                </div>
              </div>
              <div class="pure-g row">
                <div class="pure-u-1-1">
                  <div class="item">
                    <label for="">登录邮箱</label>
                    <input disabled type="text" class="input" v-model="user.email">
                  </div>
                </div>
              </div>
              <!--<div class="pure-g row">-->
              <!--<div class="pure-u-1-1">-->
              <!--<div class="item">-->
              <!--<label for="">手机号码</label>-->
              <!--<input type="text" class="input" v-model="user.phone">-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
            </div>
            <!--<div class="action clearfix mt10">-->
            <!--<div class="fr">-->
            <!--<button @click="update" class="btn btn-primary">保存更改</button>-->
            <!--</div>-->
            <!--</div>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Users from 'api/users'

  export default {
    name: 'user-account-view',
    computed: {
      user () {
        return this.$store.getters.userinfo || {}
      }
    },
    methods: {
      update () {
        Users.update({
          name: this.user.name,
          avatar: this.user.avatar
        }).then(() => {
          window.location.reload()
        })
      }
    }
  }
</script>

<style lang="scss">
  $primary: #19A6FF;
  $dark: #2F4460;
  $border: #DFDFDF;
  $body: #768BA7;
  $unit: 10px;

  .users-account-view {
    .intro {
      text-align: center;
      .btn {
        font-weight: bold;
        .iconfont {
          font-size: 1.8*$unit;
          font-weight: normal;
        }
      }
      .basic {
        text-align: left;
        li {
          padding: 1*$unit;
          font-size: 1.4*$unit;
          color: $body;
          border-bottom: 1px solid $border;
        }
      }
      .avatar {
        width: 15*$unit;
        height: 15*$unit;
        margin: 0 auto;
        text-align: center;
        img {
          width: 100%;
          border-radius: 100%;
        }
        .iconfont {
          font-size: 8*$unit;
          line-height: 16*$unit;
          color: #fff;
        }
      }
    }
    .main-grid {
      margin-top: 5*$unit;
    }
    .grid-right > .info {
      & > .des {
        margin: 2*$unit 0;
        color: $body;
        font-size: 1.6*$unit;
        line-height: 170%;
      }
      section {
        margin: 1*$unit 0;
        .title {
          font-size: 1.6*$unit;
          color: $dark;
          margin-bottom: 1*$unit;
        }
      }
    }
  }
</style>
