<template>
  <div class="users-view">
    <head-nav class="nav-dark"></head-nav>
    <router-view></router-view>
  </div>
</template>

<script>
  import HeadNav from 'components/Nav'

  export default {
    name: 'users-view',
    components: { HeadNav }
  }
</script>

<style lang="scss">
  @media (max-width: 640px) {
    .users-view {
      .breadcrumb {
        li:nth-child(1),
        li:nth-child(2) {
          display: none;
        }
      }
      #nav {
        .fr {
          display: none;
        }
      }
      .main-grid {
        width: 100%;
      }
      .user-action {
        padding: 0 10px;
        .pure-u-1-4,
        .pure-u-3-4 {
          width: 100%;
        }
      }
      .icon-list {
        .pure-u-1-8 {
          width: 16.66%;
        }
        label {
          i {
            font-size: 20px !important;
          }
        }
      }
      .colors {
        .pure-u-1-8 {
          .btn {
            padding: 0;
          }
        }
        label {
          width: 51px !important;
          height: 51px !important;
          .fill {
            width: 30px !important;
            height: 30px !important;
          }
        }
      }
      .mask {
        left: 0;
        .popover {
          display: block !important;
          width: 95%;
        }
        .select-top {
          width: 100px !important;
        }
        .icon-list {
          label {
            .icon-wrap {
              height: 50px;
              line-height: 50px;
            }
          }
        }
        &.apps-pick {
          .popover {
            display: block !important;
            .content {
              height: 400px;
            }
          }
          .apps-list {
            .apps {
              li {
                width: 50%;
              }
              .app {
                width: 90%;
              }
            }
          }
        }
      }
    }
    #help-info {
      display: none;
    }
  }
</style>
